pkgbase = ovos-skill-official-wikipedia
	pkgdesc = Query Wikipedia for answers to all your questions. Get just a summary, or ask for more to get in-depth information.
	pkgver = 47e43ef8466f18258cc336ddd0c21b5c09398305
	pkgrel = 0
	url = https://github.com/OpenVoiceOS/skill-ovos-wikipedia/
	arch = any
	license = 
	source = https://github.com/OpenVoiceOS/skill-ovos-wikipedia/archive/47e43ef8466f18258cc336ddd0c21b5c09398305.tar.gz
	sha256sums = 77d55c8fe6c6c744bfa520ab24e4f98c24f82753e50b603aabe41244c4d5849b

pkgname = ovos-skill-official-wikipedia
