pkgbase = mycroft-gui
	pkgdesc = The KDE-based visual interface for working with Mycroft
	pkgver = 53fb4a1824c9ce9155000ec0f31663f0438195ab
	pkgrel = 0
	url = https://github.com/MycroftAI/mycroft-gui
	arch = amd64
	arch = aarch64
	arch = armv7h
	license = Apache License 2.0
	makedepends = pkgconf
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = kirigami2
	depends = kirigami-addons
	depends = kio
	depends = kio-extras
	depends = plasma-framework
	depends = qt5-websockets
	depends = qt5-webview
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = qt5-quickcontrols2
	depends = qt5-webengine
	depends = qt5-base
	optdepends = qt5-lottie: QT5 animation support
	source = https://github.com/MycroftAI/mycroft-gui/archive/53fb4a1824c9ce9155000ec0f31663f0438195ab.tar.gz
	source = StatusIndicator.qml
	sha256sums = d8e96f03cb5078e887e91f78fed4f1f0419477891db5b0264a8818e1fd585b4d
	sha256sums = 582f45a39cd79fed297213edaa89ab8a4d02d98271d4135103c997543569ea16

pkgname = mycroft-gui
