pkgbase = python-ovos-phal-plugin-network-manager
	pkgdesc = NetworkManager plugin for PHAL
	pkgver = 1.0.1a2
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-network-manager/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-dbus-next
	depends = python-mycroft-messagebus-client
	depends = python-ovos-utils
	depends = python-ovos-plugin-manager>=0.0.1
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-network-manager/archive/1ab1407599182db0d96ad93dc7f40bc0cdb383c8.tar.gz
	sha256sums = 8ff12ce1b22bcd308db7b66c0cb7845223e6893b3918f7b96d973859764bc905

pkgname = python-ovos-phal-plugin-network-manager
