pkgbase = python-ovos-ocp-audio-plugin
	pkgdesc = OVOS GUI mediaplayer plugin
pkgver = 0.0.6
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-audio-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = ffmpeg
	depends = python-dbus-next
	depends = python-ovos-audio-plugin-simple
	depends = python-ovos-workshop>=0.0.11
	depends = python-ovos-bus-client>=0.0.3
	depends = python-ovos-ocp-files-plugin
	depends = python-ovos-plugin-manager>=0.0.22
	depends = python-ovos-utils>=0.0.32
	depends = python-padacioso>=0.1.1
	provides = python-ovos-plugin-common-play
	provides = python-ovos-ocp-audio-plugin
	conflicts = python-ovos-ocp-audio-plugin
	conflicts = python-ovos-workshop>=0.1.0
	conflicts = python-ovos-bus-client>=0.1.0
	conflicts = python-ovos-plugin-manager>=0.1.0
	conflicts = python-ovos-utils>=0.1.0
	source = https://github.com/OpenVoiceOS/ovos-ocp-audio-plugin/archive/1b746a1c04b53405008ea7098d0e2ac515788301.tar.gz
	sha256sums = 2855bf84a14ec15d8365d775bd3a82c263d0f8cece4dea11a124f11263260e3d

pkgname = python-ovos-ocp-audio-plugin
