pkgbase = mycroft-gui-qt6-git
	pkgdesc = The KDE-based visual interface for working with Mycroft
	pkgver = 1.0.1
	pkgrel = 0
	url = https://github.com/OpenVoiceOS/mycroft-gui-qt6
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache License 2.0
	makedepends = pkgconf
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = appstream
	makedepends = kio
	makedepends = kio-extras
	makedepends = plasma-framework
	makedepends = qt6-tools
	depends = kirigami2
	depends = kirigami-addons
	depends = qt6-websockets
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = qt6-quickcontrols2
	depends = qt6-base
	optdepends = qt6-lottie: QT6 animation support
	optdepends = qt6-webview: for webview scenarios :)
	optdepends = qt6-webengine: for web scenarios :)
	provides = mycroft-gui
	conflicts = mycroft-gui
	source = git+https://github.com/OpenVoiceOS/mycroft-gui-qt6.git#branch=dev
	source = StatusIndicator.qml
	sha256sums = SKIP
	sha256sums = 582f45a39cd79fed297213edaa89ab8a4d02d98271d4135103c997543569ea16

pkgname = mycroft-gui-qt6-git
