pkgbase = python-whispercpp
	pkgdesc = Python bindings for whispercpp
	pkgver = 1.1.2
	pkgrel = 00
	url = https://github.com/abdeladim-s/pywhispercpp/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = ninja
	makedepends = cmake
	depends = python
	depends = whisper.cpp
	depends = python-numpy
	depends = python-pydub>=0.25.1
	depends = python-requests>=2.28.2
	depends = python-tqdm>=4.65.0
	depends = python-platformdirs>=3.1.1
	optdepends = python-sounddevice>=0.4.6: for extra samples
	optdepends = python-webrtcvad>=2.0.10: for extra samples
	source = https://github.com/abdeladim-s/pywhispercpp/archive/b19b9d14cd72c3b7d3f8b3c9655b087ff0392b12.tar.gz
	sha256sums = a51e73bb260cbb214957ebbf8f0b0e77be24cb6a4729629230ad649b1ea4f693

pkgname = python-whispercpp
