pkgbase = python-ovos-audio
	pkgdesc = The "mouth" of the OVOS assistant! Handles TTS generation and audio playback
pkgver = 0.3.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-audio/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ovos-core
	depends = ovos-service-base
	depends = ovos-messagebus-server
	depends = python
	depends = python-sdnotify
	depends = python-ovos-ocp-audio-plugin>=0.0.5a3
	depends = python-ovos-bus-client>=0.0.3a4
	depends = python-ovos-config>=0.0.8a2
	depends = python-ovos-ocp-files-plugin
	depends = python-ovos-ocp-m3u-plugin
	depends = python-ovos-ocp-news-plugin
	depends = python-ovos-ocp-rss-plugin
	depends = python-ovos-plugin-manager>=0.0.23a4
	depends = python-ovos-utils>=0.0.31a3
	provides = ovos-audio-messagebus
	conflicts = ovos-audio-messagebus
	source = https://github.com/OpenVoiceOS/ovos-audio/archive/3903c8cbb0072fc03a260020b5ef4e6e6b823377.tar.gz
	source = ovos-audio-messagebus.service
	source = ovos-systemd_audio_messagebus.py
	sha256sums = 60da020c675ad0204c89dead109f52b495348c6d5737582293e23b8d7a608953
	sha256sums = 4ba09ae7f8387473d4da2220bba02dcd1288b988d96949cb916e847ea8d55ea8
	sha256sums = fd853f6345506ecb1ea81408ea34f8fec3f7701e0b576993ba23db85377859ee

pkgname = python-ovos-audio
