[Unit]
Description=OVOS Audio (TTS & Sound Playback) Messagebus Service
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service
After=sound.target
Wants=sound.target

[Service]
User=ovos
Group=ovos
Type=notify
WorkingDirectory=/home/ovos
Environment=PYTHONUNBUFFERED=1
Environment=AUDIODRIVER=pulseaudio
Environment=XDG_RUNTIME_DIR=%t
ExecStart=/usr/bin/python /etc/systemd/system/ovos-audio-messagebus.d/ovos-systemd_audio_messagebus.py
StandardOutput=journal
TimeoutStartSec=2m
TimeoutStopSec=2m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot-force
#WatchdogSec=30s

[Install]
WantedBy=ovos.service