pkgbase = ovos-skill-official-fallback-unknown
	pkgdesc = Mycroft AI official Unknown Fallback Skill - used if no Intent is matched to an Utterance
pkgver = 0.1.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-skill-fallback-unknown/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.12a27
	provides = ovos-skill-official-fallback-unknown
	conflicts = ovos-skill-official-fallback-unknown
	source = https://github.com/OpenVoiceOS/ovos-skill-fallback-unknown/archive/9e0634e87e74ef7e674ae95753bd34601ee42d98.tar.gz
	sha256sums = 11f0686461a075b5dafb740d1a06f69deb461848242d6c05f4afeac4c3c5ee24

pkgname = ovos-skill-official-fallback-unknown
