pkgbase = ovos-skill-official-date-time
	pkgdesc = OVOS official Date and Time Skill, providing the current time, date and day of week for cities around the world.
pkgver = 0.4.17
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-date-time/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-geocoder
	depends = python-ovos-workshop>=0.0.12a27
	depends = python-ovos-utils>=0.0.28
	depends = python-pytz>=2022.1
	depends = python-timezonefinder
	depends = python-tzlocal>=1.3
	provides = ovos-skill-official-date-time
	conflicts = ovos-skill-official-date-time
	source = https://github.com/OpenVoiceOS/skill-ovos-date-time/archive/4624ed04fd7b547d4da03dbe2dbffb7f63b0e72e.tar.gz
	sha256sums = eb249298e40a5dfa9722d955301b09ce9dbbf3b805dba86c09784831091e703f

pkgname = ovos-skill-official-date-time
