pkgbase = ovos-skill-official-date-time
	pkgdesc = OVOS official Date and Time Skill, providing the current time, date and day of week for cities around the world.
	pkgver = 0.2.3a1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-date-time/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-pytz
	depends = python-tzlocal
	depends = python-timezonefinder>=5.2.0
	depends = python-geocoder
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.12a27
	provides = ovos-skill-official-date-time
	conflicts = ovos-skill-official-date-time
	conflicts = python-timezonefinder>=6.0.0
	source = https://github.com/OpenVoiceOS/skill-ovos-date-time/archive/4624ed04fd7b547d4da03dbe2dbffb7f63b0e72e.tar.gz
	sha256sums = cedd24ccb4b1b6476d1eaaf83e5396fca6f5706fb936f421f2c65c813d557a30

pkgname = ovos-skill-official-date-time
