pkgbase = python-ovos-tts-plugin-mimic3-server
	pkgdesc = OVOS Server TTS plugin for Mimic3
	pkgver = 0.0.1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-plugin-mimic3-server/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-ovos-utils>=0.0.14
	depends = python-requests>=2.26
	source = https://github.com/OpenVoiceOS/ovos-tts-plugin-mimic3-server/archive/80a715012de08c844ef81f4443961322ed86da05.tar.gz
	sha256sums = a95e0fea5694fed54830b228bb327ca1f33812e7ed7dfd160200b0b507407760

pkgname = python-ovos-tts-plugin-mimic3-server
