pkgbase = python-ovos-phal-plugin-ipgeo
	pkgdesc = OVOS-PHAL IP geolocation
pkgver = 0.1.6
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-ipgeo/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager
	depends = python-requests
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-ipgeo/archive/731dd02dda4e89134fab5f11352a77150cc74476.tar.gz
	sha256sums = b0251213407841d2d0ef728cdd7c828e57b45beae423f968c0ad2fbc07cf26c2

pkgname = python-ovos-phal-plugin-ipgeo
