pkgbase = python-ovos-phal-plugin-ipgeo
	pkgdesc = OVOS-PHAL IP geolocation
pkgver = 0.1.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-ipgeo/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager
	depends = python-requests
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-ipgeo/archive/731dd02dda4e89134fab5f11352a77150cc74476.tar.gz
	sha256sums = f1ced7f9f0a87f806cc9830b90159b2ef9ad86d4b27391597e3111ac98e8bddd

pkgname = python-ovos-phal-plugin-ipgeo
