pkgbase = python-ovos-phal-plugin-ipgeo
	pkgdesc = OVOS-PHAL IP geolocation
pkgver = 0.1.1
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-ipgeo/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager
	depends = python-requests
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-ipgeo/archive/731dd02dda4e89134fab5f11352a77150cc74476.tar.gz
	sha256sums = 981cc9e69d3aa0d5bc15865269228b8dc4d518091277c8fe39c15c67219f5497

pkgname = python-ovos-phal-plugin-ipgeo
