pkgbase = python-ovos-stt-plugin-selene
	pkgdesc = OVOS STT plugin for Mycroft A.I. it's selene backend
	pkgver = 0.0.4
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-selene/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-ovos-utils
	depends = python-ovos-backend-client
	depends = python-ovos-plugin-manager
	depends = python-requests
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-selene/archive/549f8583e706c44234257fcc39fa0f454c1e37b3.tar.gz
	sha256sums = 05da48377aa4fcc752260a16af17cc7a467f7d1dac4e1e910d1bb6f70731d992

pkgname = python-ovos-stt-plugin-selene
