[Unit]
Description=OVOS-Shell standalone 
# replaces the getty
After=getty@tty1.service
Conflicts=getty@tty1.service

[Service]
User=ovos
Group=ovos
WorkingDirectory=/home/ovos
EnvironmentFile=-/home/ovos/.config/ovos-shell/.env
Environment=XDG_RUNTIME_DIR=%t
PAMName=login
TTYPath=/dev/tty1
ExecStartPre=-/usr/bin/kbuildsycoca5
ExecStart=/usr/bin/ovos-shell
# ExecStop=/usr/bin/killall --user ovos --exact --wait ovos.bin
Restart=on-failure
StandardInput=tty
StandardOutput=journal

[Install]
Alias=display-manager.service
WantedBy=ovos.service
