pkgbase = python-ovos-tts-plugin-pico
	pkgdesc = OVOS TTS plugin for PicoTTS
	pkgver = 0.0.4a1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-tts-plugin-pico/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-ovos-plugin-manager>=0.0.1a12
	source = https://github.com/OpenVoiceOS/ovos-tts-plugin-pico/archive/2b1c96256751c6a1d6db4e88e471de02b38bcf62.tar.gz
	sha256sums = 631416002c78f3477f10781a02940a723b512a96ac7b7aea5a31af7ffb9704fa

pkgname = python-ovos-tts-plugin-pico
