/PKGBUILDs/*/src
/PKGBUILDs/*/pkg
/PKGBUILDs/**/*.tar.gz*
/PKGBUILDs/**/*.tar.zst*

/PKGBUILDs-extras/*/src
/PKGBUILDs-extras/*/pkg
/PKGBUILDs-extras/**/*.tar.gz*
/PKGBUILDs-extras/**/*.tar.zst*

*-gpt.ps1
/responses
/prompts

.env*
.known-repo-packages
.srcinfo.json