/PKGBUILDs/*/src
/PKGBUILDs/*/pkg
/PKGBUILDs/**/*.tar.*

/PKGBUILDs-extra/*/src
/PKGBUILDs-extra/*/pkg
/PKGBUILDs-extra/**/*.tar.*
/PKGBUILDs-extra/**/*.whl

*-gpt.ps1
/responses
/prompts

.env*
.known-repo-packages
.srcinfo.json
ArchLinuxARM-*.tar*