/PKGBUILDs/*/src
/PKGBUILDs/*/pkg
/PKGBUILDs/**/*.tar.*

/PKGBUILDs-extras/*/src
/PKGBUILDs-extras/*/pkg
/PKGBUILDs-extras/**/*.tar.*

*-gpt.ps1
/responses
/prompts

.env*
.known-repo-packages
.srcinfo.json