pkgbase = mycroft-gui-qt5
	pkgdesc = OVOS fork of `mycroft-gui`, the KDE-based visual interface for working with Mycroft. This is the stable version based on Qt5.
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/mycroft-gui-qt5
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache License 2.0
	makedepends = pkgconf
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = kio
	makedepends = kio-extras
	makedepends = plasma-framework
	makedepends = qt5-webview
	depends = kirigami2
	depends = kirigami-addons
	depends = qt5-websockets
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = qt5-quickcontrols2
	depends = qt5-base
	optdepends = qt5-lottie: QT5 animation support
	optdepends = qt5-webview: webview support
	provides = mycroft-gui
	conflicts = mycroft-gui
	source = https://github.com/OpenVoiceOS/mycroft-gui-qt5/archive/e3e87b22be62e009ff227a86d6e4731e4ad5a5d8.tar.gz
	source = StatusIndicator.qml
	sha256sums = 5b8f9a714141dee31902f4168fed1bca170dd2809b84d50686a177bc1ca2c0cc
	sha256sums = 582f45a39cd79fed297213edaa89ab8a4d02d98271d4135103c997543569ea16

pkgname = mycroft-gui-qt5
