pkgbase = python-ovos-skills-manager
	pkgdesc = Open Voice OS skill manager
	pkgver = 0.0.12
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos_skill_manager
	arch = any
	license = custom:Apache-2.0
	depends = python
	depends = python-bs4
	depends = python-click
	depends = python-click-default-group
	depends = python-combo-lock
	depends = python-json-database
	depends = python-ovos-config
	depends = python-ovos-skill-installer
	depends = python-ovos-utils
	depends = python-packaging
	depends = python-pako
	depends = python-yaml
	depends = python-requests
	depends = python-requests-cache
	noextract = ovos_skills_manager-0.0.12-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/0f/d4/940cd2890e589bca1f8e689d57974cbcf2c8608f6a830e58e85157df5adb/ovos_skills_manager-0.0.12-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 5c3b0ada7253e3be026a33bf81394120
	md5sums = 456bb04e72aa43a1dc74d3a07c910138

pkgname = python-ovos-skills-manager
