pkgbase = ovos-enclosure-audio-pulse
	pkgdesc = Provides a system-wide daemonized PulseAudio instance. Use with embedded setups only
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/
	install = pulseaudio.install
	arch = any
	license = Apache License 2.0
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pulseaudio-zeroconf
	source = pulseaudio.service
	source = daemon.ovos.conf
	source = system.ovos.pa
	source = sysusers.conf
	source = pulseaudio.install
	sha256sums = 2beb0902aab3b045cf53fb3b30229bca4989299853cee9b0075a17ba4657c35f
	sha256sums = 0bed908210e4e0d6803c92e0e0aef4680dc903bd5b1deb3c13ccfc4bfc95fc8a
	sha256sums = 1d2750ab90f23d56337c9d393b81709e7e38ffad558017a44f49d75de021cbf2
	sha256sums = 1125b59776db56ae61953399e13f73b747c746a5f47b8b5799921e5d6b620daa
	sha256sums = 508e130b4c82e734c87eac50fd0777fc6130ab89e5324838849ccfb8ac8d9f87

pkgname = ovos-enclosure-audio-pulse
