pkgbase = python-ovos-phal-plugin-display-manager-ipc
	pkgdesc = OVOS-PHAL Display Manager IPC
	pkgver = 0.0.1a1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-display-manager-ipc/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-display-manager-ipc/archive/f22f9d41b3927b5cf71e8de0f040dee94e6e6ca6.tar.gz
	sha256sums = a59dbc2fa3c4e78c478d8257f51f4a2df6fab4dc9203e0b5f7e4edaef6c04b0f

pkgname = python-ovos-phal-plugin-display-manager-ipc
