pkgbase = ovos-skill-official-filebrowser
	pkgdesc = File Browser for OpenVoice OS Platform
	pkgver = bf889e80e7fcbdbb2fd501de3610420491412b86
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-filebrowser/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	provides = ovos-skill-official-filebrowser
	conflicts = ovos-skill-official-filebrowser
	source = https://github.com/OpenVoiceOS/skill-ovos-filebrowser/archive/bf889e80e7fcbdbb2fd501de3610420491412b86.tar.gz
	sha256sums = 2a1c3e6e8454d51a54a9d063bcaa7c95ce813f0804d275e174f513b78a182f42

pkgname = ovos-skill-official-filebrowser
