pkgbase = onnxruntime
	pkgdesc = Cross-platform, high performance scoring engine for ML models. Inferencing build
	pkgver = 1.15.1
	pkgrel = 1
	url = https://github.com/microsoft/onnxruntime
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = cxxopts
	makedepends = pybind11
	makedepends = abseil-cpp
	makedepends = nlohmann-json
	makedepends = chrono-date
	makedepends = boost
	makedepends = eigen
	makedepends = flatbuffers
	makedepends = re2
	makedepends = python-flatbuffers
	makedepends = python-numpy
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-protobuf
	makedepends = python-sympy
	makedepends = chrpath
	makedepends = nsync
	makedepends = onednn
	depends = nsync
	depends = libre2.so
	depends = openmpi
	source = install-orttraining-files.diff
	source = system-dnnl.diff
	source = system-flatbuffers.patch
	source = https://github.com/microsoft/onnxruntime/archive/refs/tags/v1.15.1.tar.gz
	sha256sums = 301eb8ca44736abb3c49b47ee7273ebfe35adcf98a56ba38dda6cc051d5dd1f2
	sha256sums = 5bc5186d61b6a4e6eda3617e57b8a25db9f08be8bdf245a665791cd21bb37ac0
	sha256sums = da16da1276de54f5e7856727c702ba30fbdbc343205fe7dc48a48f2ed33c5609
	sha256sums = 93a9b6f148639938ccbaa48d0f641d8f33312fdfcc69ee9466e11362b43917c4

pkgname = python-onnxruntime
	depends = onnxruntime
	depends = python-flatbuffers
	depends = python-numpy
	depends = python-protobuf
	depends = python-sympy
	depends = python-packaging
	depends = python-coloredlogs
	optdepends = python-onnx: for the backend API, quantization, orttraining, transformers and various tools
	optdepends = python-psutil: for transformers
	optdepends = python-py-cpuinfo: for transformers
	optdepends = python-py3nvml: for transformers
	optdepends = python-transformers: for transformers
	optdepends = python-scipy: for transformers and various tools
	optdepends = python-pytorch: for transformers, orttraining and various tools
	optdepends = python-pytorch-cuda
	optdepends = python-cerberus: for orttraining
	optdepends = python-h5py: for orttraining
	optdepends = python-matplotlib
	optdepends = python-tensorflow-opt-cuda
	optdepends = python-importlib-metadata

pkgname = onnxruntime
	depends = nsync
	depends = libre2.so
	depends = openmpi
	depends = abseil-cpp
	depends = onednn
	conflicts = onnxruntime-bin
