pkgbase = mycroft-mimic1
	pkgver = 1.3.0.1
	pkgrel = 00
	url = https://github.com/MycroftAI/mimic1
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = see https://github.com/MycroftAI/mimic1/blob/master/COPYING
	makedepends = gcc
	makedepends = make
	makedepends = pkg-config
	makedepends = automake
	makedepends = libtool
	source = https://github.com/MycroftAI/mimic1/archive/adf655da0399530ac1b586590257847eb61be232.tar.gz
	sha256sums = c17b8d56c928df97d6ae0f3a4b1e4f6b60d939d25718fed43d29ec0f82f36d59

pkgname = mycroft-mimic1
	pkgdesc = Mimic is a fast, lightweight Text-to-speech engine developed by Mycroft A.I. and VocaliD, based on Carnegie Mellon University’s Flite (Festival-Lite) software. Mimic takes in text and reads it out loud to create a high quality voice.
	depends = alsa-lib

pkgname = mycroft-mimic1-voices
	pkgdesc = Flite engine voices for Mimic1
	arch = any
