pkgbase = python-padacioso
	pkgdesc = dead simple intent parser
pkgver = 1.0.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/padacioso
	arch = any
	license = custom:apache-2.0
	depends = python
	depends = python-simplematch
	noextract = padacioso-0.2.1a6-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/30/bf/38620142a32f5175f347ea43889193bb17a1538a4156fd3d965d8c34ec35/padacioso-0.2.1a6-py3-none-any.whl
	source = LICENSE
	md5sums = d41d8cd98f00b204e9800998ecf8427e
	md5sums = e0218472023f0bff30a98e9364a3767e
	md5sums = ffb93058331cc7f50f76179423b9c219

pkgname = python-padacioso
