pkgbase = python-ovos-phal-plugin-wifi-setup
	pkgdesc = Central Wifi Setup Plugin for PHAL
pkgver = 1.1.8
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-wifi-setup/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-mycroft-messagebus-client
	depends = python-ovos-utils
	depends = python-ovos-plugin-manager>=0.0.1
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-wifi-setup/archive/1ef9c2b01e25690c6d6f515830e5c45b038ab3fe.tar.gz
	sha256sums = 8f65b1023fbbf8a313a9a7b9ed2a64b3739bb76b3a0a14a6074134075ea3507c

pkgname = python-ovos-phal-plugin-wifi-setup
