pkgbase = python-ovos-phal-plugin-balena-wifi
	pkgdesc = OVOS-PHAL Balena WIFI setup
pkgver = 1.2.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-balena-wifi/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-mycroft-messagebus-client
	depends = python-ovos-utils
	depends = python-ovos-plugin-manager>=0.0.1
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-balena-wifi/archive/099b47530ba5413170ba30e9fea397c22a8edea0.tar.gz
	sha256sums = c42ec976008b924cfe6f42fc3eaf5fbd2f489a1af855ece210916dbffa1158ec

pkgname = python-ovos-phal-plugin-balena-wifi
