pkgbase = python-ovos-tts-server-plugin
	pkgdesc = OpenVoiceOS companion plugin for OpenVoiceOS TTS Server
pkgver = 0.0.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-server-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager>=0.0.5
	source = https://github.com/OpenVoiceOS/ovos-tts-server-plugin/archive/17e8664cfad5c236bb1f6dd2a07c0604fe41d4a0.tar.gz
	sha256sums = 7fe002f190d64c193c381404e8a4b0b17821564f365ffa291549512a28501779

pkgname = python-ovos-tts-server-plugin
