pkgbase = python-cattrs
	pkgdesc = Composable complex class support for attrs and dataclasses.
	pkgver = 22.2.0
	pkgrel = 00
	url = https://github.com/python-attrs/cattrs
	arch = any
	license = MIT
	depends = python
	depends = python-attrs
	depends = python-exceptiongroup
	depends = python-typing_extensions
	noextract = cattrs-22.2.0-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/43/3b/1d34fc4449174dfd2bc5ad7047a23edb6558b2e4b5a41b25a8ad6655c6c7/cattrs-22.2.0-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 1eb78aa3630bd58db0957a15383b9695
	md5sums = 12efd5ce6c6c43c4ead370bd15f93560

pkgname = python-cattrs
