pkgbase = python-cattrs
	pkgdesc = Composable complex class support for attrs and dataclasses.
	pkgver = 23.2.3
	pkgrel = 00
	url = https://github.com/python-attrs/cattrs
	arch = any
	license = MIT
	depends = python
	depends = python-attrs
	depends = python-exceptiongroup
	depends = python-typing_extensions
	noextract = cattrs-23.2.3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/b3/0d/cd4a4071c7f38385dc5ba91286723b4d1090b87815db48216212c6c6c30e/cattrs-23.2.3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = a31b49378a0a2e5b17c8bc050ea53ac0
	md5sums = 12efd5ce6c6c43c4ead370bd15f93560

pkgname = python-cattrs
