pkgbase = python-ovos-stt-http-server
	pkgdesc = Turn any OVOS STT plugin into a micro service.
pkgver = 0.1.1
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-stt-http-server/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-fastapi>=0.95
	depends = python-flask
	depends = python-ovos-plugin-manager>=0.0.18
	depends = python-ovos-utils>=0.0.32
	depends = python-uvicorn>=0.22
	optdepends = python-gradio: for Gradio-compatible GUI
	source = https://github.com/OpenVoiceOS/ovos-stt-http-server/archive/add03f12957290b6394d71b19d70f3fb21d59e4e.tar.gz
	sha256sums = 584f7f3c3710c14c5312a05857d451e58395d5fb11331a38cced7c75591a961f

pkgname = python-ovos-stt-http-server
