pkgbase = python-rich-click
	pkgdesc = Format click help output nicely with rich
	pkgver = 1.6.1
	pkgrel = 00
	url = https://github.com/ewels/rich-click
	arch = any
	license = MIT
	depends = python
	depends = python-click
	depends = python-rich
	noextract = rich_click-1.6.1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/f4/f2/3fbb0e6eee13a484dc8aaca450e9322d267fc3839b6769841492f1594037/rich_click-1.6.1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 2ea756182ce23a2660ea3001f8945141
	md5sums = 5372b77c3720be60b7eff9a9a5c0000d

pkgname = python-rich-click
