pkgbase = python-rich-click
	pkgdesc = Markdown URL utilities
	pkgver = 0.1.2
	pkgrel = 00
	url = https://pypi.org/project/mdurl/
	arch = any
	license = MIT
	depends = python
	noextract = mdurl-0.1.2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/b3/38/89ba8ad64ae25be8de66a6d463314cf1eb366222074cfda9ee839c56a4b4/mdurl-0.1.2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 7db14dc5d739bfca141f035953620659
	md5sums = aca1dc6b9088f1dda81c89cad2c77ad1

pkgname = python-rich-click
