pkgbase = python-ovos-tts-plugin-mimic
	pkgdesc = OVOS TTS plugin for Mimic
pkgver = 0.3.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-plugin-mimic/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = mycroft-mimic1
	depends = python-ovos-plugin-manager>=0.0.5
	source = https://github.com/OpenVoiceOS/ovos-tts-plugin-mimic/archive/0a76403dff9d1acf1f09b1cd84bef50b0cf38f0f.tar.gz
	sha256sums = 0f51b1cf6b61ea3fded6e6d42d220f09d8f2099d2b95d058b3d92ba5c4ca3831

pkgname = python-ovos-tts-plugin-mimic
