pkgbase = python-bitstruct
	pkgdesc = This module performs conversions between Python values and C bit field structs represented as Python byte strings.
	pkgver = 8.17.0
	pkgrel = 00
	url = https://github.com/eerimoq/bitstruct
	arch = x86_64
	license = MIT
	depends = python
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/35/30/bbca95e38135ab88e95532b5b5d45287c34aa0066a9b8dd9b4f13ffdefd3/bitstruct-8.17.0.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = 1ec4b060e60f1b5bb8840afdfa33a012
	md5sums = d9aa4ec07de78abae21c490c9ffe61bd

pkgname = python-bitstruct
