pkgbase = python-requests-cache
	pkgdesc = A persistent cache for python requests
	pkgver = 1.0.1
	pkgrel = 00
	url = https://github.com/requests-cache/requests-cache
	arch = any
	license = BSD
	depends = python
	depends = python-attrs
	depends = python-cattrs
	depends = python-platformdirs
	depends = python-requests
	depends = python-url-normalize
	depends = python-urllib3
	noextract = requests_cache-1.0.1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/df/34/c9893aca1061ea42cf90536e1af9593474316a991a868c8ceda3631e2368/requests_cache-1.0.1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = ed9687af6a6a5609ff2d43bbf8e1250f
	md5sums = c2556dbcf8ef52bbb1e5cfb605934354

pkgname = python-requests-cache
