pkgbase = ovos-precise-lite-models
	pkgver = 0.0.1
	pkgrel = 1
	arch = any
	license = UNKNOWN
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/android.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/computer.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_chatterbox.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_firefox.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_k9.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_kit.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_moxie.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_mycroft.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/hey_scout.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/marvin.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/o_sauro.tflite
	source = https://github.com/OpenVoiceOS/precise-lite-models/raw/master/wakewords/en/sheila.tflite
	sha256sums = 62054dc9bb1a20e68e9582577ffb2495106d42da3153589378705975f51d2516
	sha256sums = f1810137a7f4cdcf3be6ae33c27e5b042d6fbaa9297d5aa35eb0ed485ac4c3a0
	sha256sums = 18ceebae6ad7ddcdd396b5b36a5e6767a4690c1cbd4a73cde15cab509ec602f5
	sha256sums = 84fd33d3a0a54a29495c4e64db4b6e940a2fbc040c32ab8f26f94ef6325546f8
	sha256sums = 2c725b47e9afc45f2201d86816288a6e1975f815564cfa088688d43adb48679b
	sha256sums = 1b3a0509cf29f5f4c8f71aabf4c4272ed0f5adae6dcf1def27ffc472ae06d01c
	sha256sums = 70327b148f923493b8f3ce35d8f45dc851207ba656bcf9ee98d68ac45c15236e
	sha256sums = a95e470f8e1a3e0167c666aefaf57acd37b229e12c6b300dc3ddd3cbff7ea65a
	sha256sums = b424b79f1e361e8c15130ea700ba796ecf7b0a1d21deaa3fb0cf7ced1a8f32ea
	sha256sums = 4322f7fe235b570e9f8908e91edc306bc23f9608c3e83ebefa8894a145a516bb
	sha256sums = abd6cc0a978cc609c14d8cb1f5b10401850a785936609a5bc1a8008ce88c51e2
	sha256sums = ce7959411e0c4309165bb7eed84e97fe8525499feb1b69d163ec0eafd0dc5e7d

pkgname = ovos-precise-lite-models
