pkgbase = ovos-splash
	pkgdesc = OpenVoiceOS splash screen: Show OVOS branded splash screens during boot/halt process based on psplash. PSplash is a userspace graphical boot splash screen for mainly embedded Linux devices supporting a 16bpp or 32bpp framebuffer. It has few dependencies (just libc), supports basic images and text and handles rotation. Its visual look is configurable by basic source changes. Also included is a 'client' command utility for sending information to psplash such as boot progress information. Start the drawing process with 'psplash -n&' as early as possible. Note: psplash creates a FIFO in /tmp for communication with psplash-write. Usage: * Set progress bar to 50 percent: psplash-write "PROGRESS 50" * Display message "foobar" above progress bar: psplash-write "MSG foobar" * Terminate psplash: psplash-write "QUIT" http://git.yoctoproject.org/cgit/cgit.cgi/psplash/
	pkgver = 1.0
	pkgrel = 0
	url = http://yoctoproject.org/
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL-2.0+
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	depends = systemd
	source = http://git.yoctoproject.org/cgit/cgit.cgi/psplash/snapshot/psplash-0a902f7cd875ccf018456451be369f05fa55f962.tar.gz
	source = ovos-splash-start.service
	source = ovos-splash-quit.service
	source = ovos-splash-systemd.service
	source = psplash-colors.h
	source = psplash-config.h
	source = psplash-bar.png
	source = psplash-hand.png
	source = psplash-poky.png
	sha256sums = 8fc1782873a1d778ab979c79a37cd0eb762ef180fa6ff01806ff08ba3fb334a6
	sha256sums = 6a8221ef125e47a64755165f275472ae87435437512cbd6f4463ba3dfda443e1
	sha256sums = 30243f6b7623382579b5465ba5843c70aa13505ba10de05bced3a3aa4b87aacc
	sha256sums = 33fd714e379bbaa3236c774d214777de0dd81e97dbf17b872f3303ec4590770a
	sha256sums = 1ef923b2e0d6564e1986c2fb591cd37c8ca5c1e689c7fb927d93bdb2cfd6d723
	sha256sums = ca09942092186656928738d6e775ee888b189154d6955be80c0c084e772b4b00
	sha256sums = 512ea64ba48ba860242bf0713553fa51e0c1258615c7bd193d083b5bad351ca6
	sha256sums = fd8c1f11e7352e7beb34bb657e8fc391a91fb30c7ca5c51c9f93f76383b9ea8d
	sha256sums = 82727f1b7643c94fea0690e0d08a71c393e1d394a0e8c9475c582521dc212707

pkgname = ovos-splash
