pkgbase = ovos-core
	pkgdesc = OpenVoiceOS Core Configuration Package
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS
	arch = any
	license = Apache
	depends = python-ovos-core
	depends = ovos-messagebus-server
	source = ovos.conf
	source = ovos.service
	sha256sums = 9c71f44cf3f3546544881b009ebac704aa87e22ca9217caf15f3a2f2c8cf93ae
	sha256sums = 3bb4afb9669183afa627930eb62466d442cff56cae4a18656ad76cb3b20d5113

pkgname = ovos-core
