pkgbase = ovos-core
	pkgdesc = OpenVoiceOS Core Configuration Package
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS
	arch = any
	license = Apache
	depends = python-ovos-core
	depends = ovos-service-base
	depends = ovos-messagebus-server
	source = ovos.conf
	source = ovos.service
	sha256sums = 0fe6dc121bf8f64773bef5281e172d65de3fb7354525d579ec4ad98a71a30bca
	sha256sums = 3bb4afb9669183afa627930eb62466d442cff56cae4a18656ad76cb3b20d5113

pkgname = ovos-core
