pkgbase = python-ovos-ocp-youtube-plugin
	pkgdesc = 
pkgver = 0.0.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-youtube-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin
	depends = python-tutubo
	depends = python-yt-dlp
	source = https://github.com/OpenVoiceOS/ovos-ocp-youtube-plugin/archive/df6bfd8ccc3e178cfc5284c92932196883581dac.tar.gz
	sha256sums = 15213dae474f50098445f29c45ec86f8cda45378c5c8c52f2a117da78a278579

pkgname = python-ovos-ocp-youtube-plugin
