pkgbase = python-ovos-ocp-youtube-plugin
	pkgdesc = 
pkgver = 0.0.3
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-youtube-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin
	depends = python-tutubo
	depends = python-yt-dlp
	source = https://github.com/OpenVoiceOS/ovos-ocp-youtube-plugin/archive/df6bfd8ccc3e178cfc5284c92932196883581dac.tar.gz
	sha256sums = 5c908c9eedc8603fa171b5ef6f2dedb915741ea758688030a48937a03ff5ca61

pkgname = python-ovos-ocp-youtube-plugin
