pkgbase = python-ovos-ocp-youtube-plugin
	pkgdesc = 
pkgver = 0.0.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-youtube-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin
	depends = python-tutubo
	depends = python-yt-dlp
	source = https://github.com/OpenVoiceOS/ovos-ocp-youtube-plugin/archive/df6bfd8ccc3e178cfc5284c92932196883581dac.tar.gz
	sha256sums = 6355c52e09e6e56bf98624ed94618dd1c26884ede47001bd9ab0a5af8dae2f46

pkgname = python-ovos-ocp-youtube-plugin
