pkgbase = python-ovos-phal-plugin-gui-network-client
	pkgdesc = A GUI Network Client For PHAL
pkgver = 0.0.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-gui-network-client/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-gui-network-client/archive/847ab586387503b044e497f544a843f0d02110cb.tar.gz
	sha256sums = b29f4173ba930bd90551a3ee0edb087f0a72474bb1fdf4bf865c922966e8fc08

pkgname = python-ovos-phal-plugin-gui-network-client
