pkgbase = ovos-skill-official-setup
	pkgdesc = OVOS Setup Skill
	pkgver = 0.0.1
	pkgrel = 2
	url = https://github.com/OpenVoiceOS/skill-ovos-setup/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-ovos-backend-client>=0.0.6a8
	depends = python-ovos-utils>=0.0.25
	depends = python-ovos-workshop>=0.0.7a8
	depends = python-ovos-phal-plugin-system>=0.0.2a5
	depends = python-ovos-plugin-manager>=0.0.19
	provides = ovos-skill-official-setup
	conflicts = ovos-skill-official-setup
	source = https://github.com/OpenVoiceOS/skill-ovos-setup/archive/60e93ded51e5e4b26892896c93a2a3f6fdaef26a.tar.gz
	source = 0001-fix-text-overflow-in-list-delegates.patch
	source = 0002-fix-backend-buttons.patch
	sha256sums = f34d3a8eda86a537530450655c246e1651a43ca3aeec23fbbbf1328113295bfe
	sha256sums = 942d0c0b78bcb4d5309018e4747054c6b6d78dca12ed734b6fb677d3872d25f3
	sha256sums = e42ce01de6ab7438bca862fa0b761e192db57dd7387f8b1c08d384e1e52c6185

pkgname = ovos-skill-official-setup
