pkgbase = ovos-enclosure-rpi4-mark2
	pkgdesc = Supporting assets for the Raspberry PI4 -based Mycroft Mark2 Revisions 6 and 10 HATs
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/
	install = register-sj201-overlays.install
	arch = any
	license = Apache License 2.0
	makedepends = dtc
	source = xvf3510.dtbo
	source = sj201-buttons-overlay.dts
	source = register-sj201-overlays.install
	sha256sums = 213ac1919151453977accc49cb64d6b54d5c234c17cd4d6823d6482c1ff4778a
	sha256sums = b7cf09d6d7c0e719dc96f1ae6832ce22c060d2ccb69530111ca390bd39976d71
	sha256sums = 88f5ebf8b7e36c73beca90027fe7d44af693db1ce329b62e0760e87ca03b6e58

pkgname = ovos-enclosure-rpi4-mark2
