pkgbase = ovos-enclosure-rpi4-mark2
	pkgdesc = Supporting assets for the Raspberry PI4 -based Mycroft Mark2 Revisions 6 and 10 HATs
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/
	install = rpi4-mark2.install
	arch = aarch64
	license = Apache License 2.0
	makedepends = dtc
	depends = ovos-enclosure-base
	depends = ovos-enclosure-sj201
	provides = ovos-enclosure
	conflicts = ovos-enclosure
	source = rpi4-mark2.install
	sha256sums = 4a0418657f2c82ba1ef34fbae5ee5ec4dd1d3d378ec4ae0e71855b7c7f37596d

pkgname = ovos-enclosure-rpi4-mark2
