pkgbase = python-ovos-ocp-bandcamp-plugin
	pkgdesc = 
pkgver = 0.0.3
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-bandcamp-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin
	depends = python-py-bandcamp
	source = https://github.com/OpenVoiceOS/ovos-ocp-bandcamp-plugin/archive/d619878659a87fc6a383444164aa8dcfe384d0c4.tar.gz
	sha256sums = f690b773f62bb1b6b047b784e1d2da7037cecf730152d3a24ccc925d477eeb12

pkgname = python-ovos-ocp-bandcamp-plugin
