pkgbase = python-deezeridu
	pkgdesc = read and write audio tags for many formats
	pkgver = 1.46.0
	pkgrel = 00
	url = https://github.com/quodlibet/mutagen
	arch = any
	license = GPL2
	depends = python
	noextract = mutagen-1.46.0-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/03/ee/114d7016d2e34f341e212fefb5e7bd87785077ebcfff0ad23a497c70eea1/mutagen-1.46.0-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 947fbbec01ebfc768f9452a358053a6f
	md5sums = b234ee4d69f5fce4486a80fdaf4a4263

pkgname = python-deezeridu
