pkgbase = python-ovos-ww-plugin-precise-lite
	pkgdesc = This adds a plugin for precise-lite
pkgver = 0.1.6
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-precise-lite/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = ovos-precise-lite-models
	depends = python-ovos-plugin-manager>=0.0.4
	depends = python-ovos-utils>=0.0.14
	depends = python-precise-lite-runner>=0.4.1
	optdepends = python-tensorflow
	optdepends = python-tflite-runtime
	source = https://github.com/OpenVoiceOS/ovos-ww-plugin-precise-lite/archive/d765138ecefc2004204d6a3fd817d30f8ccca1d8.tar.gz
	sha256sums = a2e3bec01998e9913d57617aa224ce2b6e655ebcac6b139eb0a419c012b72178

pkgname = python-ovos-ww-plugin-precise-lite
