pkgbase = python-ovos-workshop
	pkgdesc = frameworks, templates and patches for the mycroft universe
pkgver = 3.1.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/OVOS-workshop/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-backend-client>=0.1.0
	depends = python-ovos-bus-client>=0.0.8
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-lingua-franca>=0.4.6
	depends = python-ovos-utils>=0.0.37
	depends = python-rapidfuzz
	optdepends = python-ovos-ocp-audio-plugin
	conflicts = python-ovos-backend-client>=0.2.0
	conflicts = python-ovos-bus-client>=0.2.0
	conflicts = python-ovos-config>=0.2.0
	conflicts = python-ovos-utils>=0.2.0
	source = https://github.com/OpenVoiceOS/OVOS-workshop/archive/2e667955539792222b1609c1edb9ff4767d2f35c.tar.gz
	sha256sums = a00d1d0c8dab94f755ce0b6ce434e0ca132783b18fd752d7b73d19a3ea03e72b

pkgname = python-ovos-workshop
