pkgbase = python-json-database
	pkgdesc = searchable json database with persistence
	pkgver = 0.7.0
	pkgrel = 00
	url = https://github.com/OpenJarbas/json_database
	arch = any
	license = custom:MIT
	depends = python
	depends = python-combo-lock
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/ef/dc/6d6a6e4d4ab02dcd08a83344818c943799eb68b79619ff862e54c64a2c56/json_database-0.7.0.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = cfc0952ea99cb2e6a59b289e2bf772ab
	md5sums = c72419962ba4980b7980b8d471b6a28b

pkgname = python-json-database
