pkgbase = python-ovos-phal-plugin-mk1
	pkgdesc = OVOS-PHAL Mark-1
pkgver = 0.1.3
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-mk1/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-mk1/archive/e8aa4f20f2a10792ad5c1cfa47719ab46a0117c4.tar.gz
	sha256sums = 59fa89e395c6d2bc63b2637e86363f69d8b6d1f33afceee6b4b636d279a9ef57

pkgname = python-ovos-phal-plugin-mk1
