pkgbase = python-vosk
	pkgdesc = Offline open source speech recognition API based on Kaldi and Vosk
	pkgver = 0.3.45
	pkgrel = 00
	url = https://github.com/alphacep/vosk-api
	arch = aarch64
	arch = x86_64
	license = Apache
	depends = python
	depends = python-cffi
	depends = python-requests
	depends = python-srt
	depends = python-tqdm
	depends = python-websockets
	noextract = vosk-0.3.45-py3-none-manylinux2014_aarch64.whl
	noextract = vosk-0.3.45-py3-none-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
	noextract = vosk-0.3.45-py3-none-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
	options = !strip
	source = PKGBUILD_EXTRAS
	source = LICENSE
	md5sums = SKIP
	md5sums = d09bbd7a3746b6052fbd78b26a87396b
	source_aarch64 = https://files.pythonhosted.org/packages/a4/23/3130a69fa0bf4f5566a52e415c18cd854bf561547bb6505666a6eb1bb625/vosk-0.3.45-py3-none-manylinux2014_aarch64.whl
	md5sums_aarch64 = 6ac65b5d5170371c2d0b815fc019f302
	source_x86_64 = https://files.pythonhosted.org/packages/fc/ca/83398cfcd557360a3d7b2d732aee1c5f6999f68618d1645f38d53e14c9ff/vosk-0.3.45-py3-none-manylinux_2_12_x86_64.manylinux2010_x86_64.whl
	md5sums_x86_64 = eae5cb75693006b64d56f7c5c87a3e45

pkgname = python-vosk
