pkgbase = python-ovos-config
	pkgdesc = helper package to interact with mycroft config
	pkgver = 0.0.11
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-config/
	arch = any
	license = Apache License 2.0
	depends = python
	depends = python-watchdog
	depends = python-combo-lock>=0.2
	depends = python-dateutil>=2.6
	depends = python-rich-click>=1.6
	depends = python-yaml>=5.4.0
	conflicts = python-ovos-backend-client>=0.1.0
	conflicts = python-ovos-utils>=0.1.0
	conflicts = python-yaml>=7.0.0
	source = https://github.com/OpenVoiceOS/ovos-config/archive/22627c5a6ef09a3618e371407a7f16a5bc7b83ba.tar.gz
	sha256sums = 8ba0ddadc8953dc8a5acf727c9095e8f42f4314373c8f1d3fab29e415031d97c

pkgname = python-ovos-config
