pkgbase = python-ovos-config
	pkgdesc = helper package to interact with mycroft config
pkgver = 1.0.7
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-config/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-combo-lock>=0.2
	depends = python-dateutil>=2.6
	depends = python-ovos-utils>=0.0.37
	depends = python-rich-click>=1.6
	depends = python-yaml>=5.4.0
	conflicts = python-yaml>=7.0.0
	source = https://github.com/OpenVoiceOS/ovos-config/archive/b8642104954fe45ea11af5d7c5534c68e8b61f45.tar.gz
	sha256sums = 67bfdb3dc9c05efb7e05844915641c71e9b777f0c60314a3a406ce3413b13186

pkgname = python-ovos-config
