pkgbase = python-ovos-config
	pkgdesc = helper package to interact with mycroft config
pkgver = 0.0.11
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-config/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-combo-lock
	depends = python-ovos-utils
	depends = python-dateutil
	depends = python-yaml>=5.4.0
	depends = python-rich-click
	depends = python-watchdog
	conflicts = python-ovos-utils>=0.1.0
	conflicts = python-yaml>=7.0.0
	source = https://github.com/OpenVoiceOS/ovos-config/archive/e98503435b1c34165362a1881f4c88a41029039a.tar.gz
	sha256sums = 8ba0ddadc8953dc8a5acf727c9095e8f42f4314373c8f1d3fab29e415031d97c

pkgname = python-ovos-config
