pkgbase = python-ovos-vlc-plugin
	pkgdesc = OVOS VLC mediaplayer plugin
pkgver = 0.0.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-vlc-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = vlc
	depends = python-ovos-plugin-manager
	depends = python-vlc>=1.1.2
	source = https://github.com/OpenVoiceOS/ovos-vlc-plugin/archive/1f6a2915d728baba925ecf5f53547ee7c7a766c1.tar.gz
	sha256sums = 76d0d5aa1b7f471470260a910a6bc5bd1693c759a22bad7a31e46c174f5dddd5

pkgname = python-ovos-vlc-plugin
