pkgbase = python-ovos-vlc-plugin
	pkgdesc = OVOS VLC mediaplayer plugin
	pkgver = 0.0.2a2
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-vlc-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = vlc
	depends = python-ovos-plugin-manager
	depends = python-vlc>=1.1.2
	source = https://github.com/OpenVoiceOS/ovos-vlc-plugin/archive/1f6a2915d728baba925ecf5f53547ee7c7a766c1.tar.gz
	sha256sums = 6afe83e6576dc26cac6a5eff284feaf80ac9650bfa456a4e75c7236bada9759f

pkgname = python-ovos-vlc-plugin
