pkgbase = python-gradio
	pkgdesc = Python library for easily interacting with trained machine learning models
	pkgver = 3.30.0
	pkgrel = 00
	url = https://pypi.org/project/gradio/
	arch = any
	license = custom:unknown
	depends = python
	depends = python-aiofiles
	depends = python-aiohttp
	depends = python-altair
	depends = python-fastapi
	depends = python-ffmpy
	depends = python-gradio-client
	depends = python-httpx
	depends = python-huggingface-hub
	depends = python-jinja
	depends = python-markdown-it-py
	depends = python-markupsafe
	depends = python-matplotlib
	depends = python-mdit-py-plugins
	depends = python-numpy
	depends = python-orjson
	depends = python-pandas
	depends = python-pillow
	depends = python-pydantic
	depends = python-pydub
	depends = python-pygments
	depends = python-python-multipart
	depends = python-yaml
	depends = python-requests
	depends = python-semantic-version
	depends = python-typing_extensions
	depends = python-uvicorn
	depends = python-websockets
	depends = python-packaging
	depends = python-setuptools
	noextract = gradio-3.30.0-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/d7/74/de6dd369ffdcf8c3f60f69d0af0a2efe6283d6b8b9232bd5ce76b28fa388/gradio-3.30.0-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 188a2b202dc91f189726de9d3859afa8
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-gradio
