pkgbase = python-ovos-ww-plugin-pocketsphinx
	pkgdesc = This adds a plugin for pocketsphinx, this is the fallback mycroft wake word engine and is supported out of the box by core.
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-pocketsphinx/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-phoneme-guesser
	depends = python-pocketsphinx
	depends = python-speechrecognition>=3.8.1
	source = https://github.com/OpenVoiceOS/ovos-ww-plugin-pocketsphinx/archive/06183f4cf51e94cf0fd76cdb3f134789d787330a.tar.gz
	sha256sums = 59f71a0def4dbcc176e874f2a375f8c55b5bcb690c37b1325463a844e42ef1e1

pkgname = python-ovos-ww-plugin-pocketsphinx
