pkgbase = python-ovos-phal-plugin-alsa
	pkgdesc = OVOS-PHAL Alsa volume control
pkgver = 0.1.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-alsa/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-json-database>=0.7
	depends = python-ovos-bus-client>=0.0.4
	depends = python-ovos-plugin-manager>=0.0
	depends = python-pyalsaaudio>=0.9
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-alsa/archive/7683146ebd4e1b405e01d3fb47a9b165a42499c9.tar.gz
	sha256sums = 198df91bdb8a053b2e1cbaeda9069e05bbde7c4e00b5ad25face38bfda257fe9

pkgname = python-ovos-phal-plugin-alsa
