pkgbase = ovos-bus-server
	pkgdesc = alternative ovos bus service (websocket server) in C++
	pkgver = 0.0.1
	pkgrel = 0
	url = https://github.com/OpenVoiceOS/ovos-bus-server/
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache License 2.0
	makedepends = pkgconf
	makedepends = cmake
	depends = ovos-service-base
	provides = ovos-messagebus-server
	conflicts = python-ovos-messagebus
	source = https://github.com/OpenVoiceOS/ovos-bus-server/archive/6390bb787fad4660106577891ada6fa935b662d7.tar.gz
	source = 0001-Make-package-installable.patch
	source = ovos-messagebus.service
	sha256sums = 2352676a4c1726d2febe7a39c920d5b8b26a5256913039c5e69beff5e5469d3e
	sha256sums = bbd1f91a15ba6f40358d618168d64547b1fac5f9aa53fea64ba7a2d0a0948b00
	sha256sums = 53c5b43b05b5f4443ef28061124e244fc43b0d6e26dfeca106b59789d3189770

pkgname = ovos-bus-server
