[Unit]
Description=OVOS Messagebus Server (C++)
PartOf=ovos.service
After=ovos.service

[Service]
User=ovos
Group=ovos
Type=simple
WorkingDirectory=/home/ovos
ExecStart=/usr/bin/ovos-bus-server
StandardOutput=journal
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
#StartLimitAction=reboot-force
#WatchdogSec=30s

[Install]
WantedBy=ovos.service