pkgbase = python-ovos-ww-plugin-vosk
	pkgdesc = wake word plugin for Vosk
pkgver = 0.1.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-vosk/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-ovos-skill-installer
	depends = python-vosk
	source = https://github.com/OpenVoiceOS/ovos-ww-plugin-vosk/archive/b106d28230443e31ce4d7dc4d3e579a69d3720cc.tar.gz
	sha256sums = ed93f90a437a496b9db8283865f9ac9502e541c4b2dc4a0a8bc7b29038b63196

pkgname = python-ovos-ww-plugin-vosk
