pkgbase = python-ovos-ww-plugin-vosk
	pkgdesc = wake word plugin for Vosk
pkgver = 0.1.3
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-vosk/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-numpy
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-ovos-skill-installer
	depends = python-vosk
	source = https://github.com/OpenVoiceOS/ovos-ww-plugin-vosk/archive/b106d28230443e31ce4d7dc4d3e579a69d3720cc.tar.gz
	sha256sums = 055da792f56460d40d1bb99d6fa40f3bbe9bac2400cd8e6b4d9810fc5bf4750f

pkgname = python-ovos-ww-plugin-vosk
