pkgbase = python-py-bandcamp
	pkgdesc = bandcamp data scrapper
	pkgver = 0.7.0
	pkgrel = 00
	url = https://github.com/OpenJarbas/py_bandcamp
	arch = any
	license = custom:Apache2
	depends = python
	depends = python-beautifulsoup4
	depends = python-requests
	depends = python-requests-cache
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/f6/64/eb89bb1aafd1cc56a6c38e40aeaab01ebe3b057f2cc7aad3fb371355e94d/py_bandcamp-0.7.0.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = e43597eb8c2c16079a701dc673e536dc
	md5sums = b07bb9076b477429fb89bfca2d1b584c

pkgname = python-py-bandcamp
