pkgbase = ovos-enclosure-rpi4-mark2-sj201-r10
	pkgdesc = Supporting assets for the Raspberry PI4 -based Mycroft Mark2 production Revision 10 HAT. Specifically the PWM Fan
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/
	install = register-sj201-rev10-pwm-fan-overlay.install
	arch = any
	license = Apache License 2.0
	makedepends = dtc
	source = sj201-rev10-pwm-fan-overlay.dts
	source = register-sj201-rev10-pwm-fan-overlay.install
	sha256sums = f4b83816f0f55fe17a3f7852713bed87fdf98f60db4b1bc805b34a6043b4ab9f
	sha256sums = 2fbdb05aea76e24207bb9bcd046e524da0ce6881e2685f32ac7bcc87fec719a1

pkgname = ovos-enclosure-rpi4-mark2-sj201-r10
