pkgbase = ovos-skill-official-volume
	pkgdesc = OVOS Volume Skill Control the volume of your Device
pkgver = 0.1.9
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-volume/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-utils>=0.0.28
	provides = ovos-skill-official-volume
	conflicts = ovos-skill-official-volume
	source = https://github.com/OpenVoiceOS/skill-ovos-volume/archive/0feb9cfa55593ee011fdaf1141c6e5db864da104.tar.gz
	sha256sums = 74ce51e59141c0d2c333e0c5393c2f7caf9864f3c32881d60755ff9e0e1a0185

pkgname = ovos-skill-official-volume
