pkgbase = ovos-skill-official-volume
	pkgdesc = OVOS Volume Skill Control the volume of your Device
pkgver = 0.1.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-volume/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-utils>=0.0.28
	provides = ovos-skill-official-volume
	conflicts = ovos-skill-official-volume
	source = https://github.com/OpenVoiceOS/skill-ovos-volume/archive/0feb9cfa55593ee011fdaf1141c6e5db864da104.tar.gz
	sha256sums = b1254b7dce1e3b80c4b5acdeb727f9b58660d282d3f84323b9315658823a71cc

pkgname = ovos-skill-official-volume
