pkgbase = ovos-skill-official-homescreen
	pkgdesc = OVOS Homescreen Skill Provides custom resting face for OVOS
pkgver = 3.0.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-homescreen/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.11
	depends = python-ovos-lingua-franca>=0.4.7
	depends = python-ovos-phal-plugin-wallpaper-manager
	depends = python-ovos-skill-manager
	provides = ovos-skill-official-homescreen
	conflicts = ovos-skill-official-homescreen
	source = https://github.com/OpenVoiceOS/skill-ovos-homescreen/archive/44119a39407cd3b14abf890d2e6244b422b862df.tar.gz
	source = 0001-homescreen-update.patch
	sha256sums = 6d66871013ecc490b857b46fb3419c2f4c0d2a60887753d6e328f18e369d55dc
	sha256sums = 6667e2dd8de8d16f9a5b3d1bf626983678bff663aed5df84a48c4b2d1e672302

pkgname = ovos-skill-official-homescreen
