pkgbase = python-pocketsphinx
	pkgdesc = Official Python bindings for PocketSphinx
	pkgver = 5.0.1
	pkgrel = 00
	url = https://github.com/cmusphinx/pocketsphinx
	arch = x86_64
	license = MIT
	makedepends = cython
	depends = python
	depends = python-sounddevice
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/94/b2/34e55d48ce1cbf8bdf831d9edbf7f61ccf8852edc54da4f05fe7d1fd9034/pocketsphinx-5.0.1.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = fdd1227fb750f087f0636f8c222cbbb9
	md5sums = c4d720cdc9c6953091f65e8b01524bb4

pkgname = python-pocketsphinx
