pkgbase = python-ovos-stt-plugin-vosk
	pkgdesc = OVOS STT plugin for Vosk
pkgver = 0.2.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-vosk/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-skill-installer
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-speechrecognition>=3.8.1
	depends = python-vosk
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-vosk/archive/3bde4c117bf76ceb5645eff8cf534157f0e4e00d.tar.gz
	sha256sums = 4f8a8851109b078c04b4233d0a986846c4f23feb22a73b144c3e9a2400f4d6bd

pkgname = python-ovos-stt-plugin-vosk
