pkgbase = python-ovos-stt-plugin-vosk
	pkgdesc = OVOS STT plugin for Vosk
pkgver = 0.2.3
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-vosk/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-skill-installer
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-speechrecognition>=3.8.1
	depends = python-vosk
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-vosk/archive/3bde4c117bf76ceb5645eff8cf534157f0e4e00d.tar.gz
	sha256sums = 109c34f713bffc04cc23b6e5a5c6112ae7919fe60aa456d6ab6657f5e259c48c

pkgname = python-ovos-stt-plugin-vosk
