pkgbase = python-speechrecognition
	pkgdesc = Library for performing speech recognition, with support for several engines and APIs, online and offline.
	pkgver = 3.10.0
	pkgrel = 00
	url = https://github.com/Uberi/speech_recognition#readme
	arch = x86_64
	license = BSD
	depends = python
	depends = python-requests
	depends = python-google-api-core
	noextract = SpeechRecognition-3.10.0-py2.py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/1f/11/843b42cb0a75b1f654b2d49f894a692ce78677ccf4a1272f7cf69bdf2c76/SpeechRecognition-3.10.0-py2.py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 0463f5d3204f7f4ba9c3f21e33a7f216
	md5sums = 2954ce0ca8c545fe806fcad8c24cb7d0

pkgname = python-speechrecognition
