pkgbase = python-ovos-utils
	pkgdesc = collection of simple utilities for use across the mycroft ecosystem
pkgver = 0.5.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos_utils/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-json-database>=0.7
	depends = python-kthread>=0.2
	depends = python-pexpect>=4.6
	depends = python-pyee
	depends = python-requests>=2.26
	depends = python-watchdog
	optdepends = python-rapidfuzz>=2.0
	conflicts = python-ovos-bus-client>=0.1.0
	conflicts = python-ovos-config>=0.1.0
	source = https://github.com/OpenVoiceOS/ovos_utils/archive/184c8cf6fb32fc3b0c4dabc8722eceb0bd5dc2fc.tar.gz
	sha256sums = d439ce4fd2ff2df6a901099ca899a116352a7d3e6a5d1545c907169ba785a6d9

pkgname = python-ovos-utils
