pkgbase = python-ovos-utils
	pkgdesc = collection of simple utilities for use across the mycroft ecosystem
	pkgver = 0.0.33a8
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos_utils/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-json-database
	depends = python-kthread
	depends = python-pexpect
	depends = python-pyee
	depends = python-requests
	depends = python-watchdog
	source = https://github.com/OpenVoiceOS/ovos_utils/archive/5e43850e138150247da5d151ed4bd2e65a6bb455.tar.gz
	sha256sums = 8c3ea3d7f1fe1c54bd070a71b59f7ef0ff8ba62879f0da4d26dc7422bb65faf3

pkgname = python-ovos-utils
