pkgbase = python-padacioso
	pkgdesc = dead simple intent parser
	pkgver = 0.2.1a2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/padacioso
	arch = any
	license = custom:apache-2.0
	depends = python
	depends = python-simplematch
	noextract = padacioso-0.2.1a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/2a/ae/4b3358a8179221cd9f08638f4e2c29bbf37982d347249dece06973f99af5/padacioso-0.2.1a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = db3c2d59c6c426a5d3ee401d5c5b0704
	md5sums = ffb93058331cc7f50f76179423b9c219

pkgname = python-padacioso
