pkgbase = python-ovos-ocp-rss-plugin
	pkgdesc = 
pkgver = 0.1.1
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-rss-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-feedparser
	depends = python-ovos-ocp-audio-plugin
	source = https://github.com/OpenVoiceOS/ovos-ocp-rss-plugin/archive/3875c176609e29c925940366a8bafda0fb831ab7.tar.gz
	sha256sums = f5731dcf3e2ed345197b89cf346017ec933b7e114f8f086fa856d1eca0721608

pkgname = python-ovos-ocp-rss-plugin
