pkgbase = ovos-skill-official-youtube-music
	pkgdesc = play music from youtube in mycroft
pkgver = 0.1.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-youtube-music/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-youtube-plugin
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.5a1
	depends = python-tutubo
	provides = ovos-skill-official-youtube-music
	conflicts = ovos-skill-official-youtube-music
	source = https://github.com/OpenVoiceOS/skill-ovos-youtube-music/archive/3a4f52d2bcbd1c3074df4d2d29853f5ed743a442.tar.gz
	sha256sums = 1423eebe6037166ab2a837d048f8572595260cf09282385d2bf6e29f558ab6d8

pkgname = ovos-skill-official-youtube-music
