pkgbase = ovos-skill-official-youtube-music
	pkgdesc = play music from youtube in mycroft
pkgver = 0.1.6
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-youtube-music/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-youtube-plugin
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.5a1
	depends = python-tutubo
	provides = ovos-skill-official-youtube-music
	conflicts = ovos-skill-official-youtube-music
	source = https://github.com/OpenVoiceOS/skill-ovos-youtube-music/archive/3a4f52d2bcbd1c3074df4d2d29853f5ed743a442.tar.gz
	sha256sums = 6b92ec425de3a17d3a53ccda8c29aa0554f60c96f4ee0078be92909372b549ad

pkgname = ovos-skill-official-youtube-music
