pkgbase = python-tutubo
	pkgdesc = wrapper around pytube with some new functionality
	pkgver = 0.0.2a1.post1
	pkgrel = 00
	url = https://github.com/OpenJarbas/tutubo
	arch = any
	license = custom:Apache
	depends = python
	depends = python-bs4
	depends = python-pytube
	depends = python-requests
	depends = python-ytmusicapi
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/58/66/76c41b7fd092173641a9f25106ba5ec0dace423f19d7460e8363afa0f0d9/tutubo-0.0.2a1.post1.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = df67448041359f88deccb3431929f517
	md5sums = 29df0831065bf309d5f89f6488efccb2

pkgname = python-tutubo
