pkgbase = python-ovos-backend-client
	pkgdesc = Unofficial python api for interaction with ovos-local-backend
pkgver = 0.1.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-backend-client/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-json-database
	depends = python-ovos-utils>=0.0.25a7
	source = https://github.com/OpenVoiceOS/ovos-backend-client/archive/1a746cee2fca3051415b51460a8a8f6897ee61da.tar.gz
	sha256sums = 0935514c651a7367683b8484c204151b6b85033a289bd943cb3973c411004309

pkgname = python-ovos-backend-client
