pkgbase = python-ovos-backend-client
	pkgdesc = Unofficial python api for interaction with ovos-local-backend
	pkgver = 0.1.0
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-backend-client/
	arch = any
	license = UNKNOWN
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-json-database>=0.7
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.0.37
	optdepends = python-ovos-plugin-manager>=0.0.23
	optdepends = python-speechrecognition>=3.8
	optdepends = python-timezonefinder
	source = https://github.com/OpenVoiceOS/ovos-backend-client/archive/96c5e33ed520d5af4394373d8170503264ed90e1.tar.gz
	sha256sums = 0935514c651a7367683b8484c204151b6b85033a289bd943cb3973c411004309

pkgname = python-ovos-backend-client
