pkgbase = python-ovos-stt-plugin-whispercpp
	pkgdesc = OVOS STT plugin for whispercpp
	pkgver = 0.0.0a8
	pkgrel = 01
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-whispercpp/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-requests
	depends = python-speechrecognition>=3.8.1
	depends = python-whispercpp>=0.0.1
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-whispercpp/archive/0a962e748a6dfcb9c5c00d13ecb0c60f9934feea.tar.gz
	sha256sums = 375f983e2783f7ff247a813de88333685e76b334bba0d888a5239fe77a63fe9a

pkgname = python-ovos-stt-plugin-whispercpp
