pkgbase = python-ovos-stt-plugin-whispercpp
	pkgdesc = OVOS STT plugin for whispercpp
	pkgver = 0.0.0a8
	pkgrel = 01
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-whispercpp/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager>=0.0.1
	depends = python-requests
	depends = python-speechrecognition>=3.8.1
	depends = python-whispercpp>=0.0.1
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-whispercpp/archive/0a962e748a6dfcb9c5c00d13ecb0c60f9934feea.tar.gz
	sha256sums = 945194f19286cf1f48706935d4a24b52e70d8d454e69cc7c2a82300bf6d09688

pkgname = python-ovos-stt-plugin-whispercpp
