pkgbase = ovos-skill-official-news
	pkgdesc = News Streams from around the globe
pkgver = 0.1.9
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-news/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-beautifulsoup4
	depends = python-ovos-ocp-audio-plugin>=0.0.3
	depends = python-ovos-workshop>=0.0.10
	depends = python-pytz
	provides = ovos-skill-official-news
	conflicts = ovos-skill-official-news
	source = https://github.com/OpenVoiceOS/skill-ovos-news/archive/90718d2b337df81c5312bb0c657db7888d45edf7.tar.gz
	sha256sums = fe82136c2edc15a520d23cfdf01a3ab4799c774a8a784910b439cda31dc452eb

pkgname = ovos-skill-official-news
