pkgbase = ovos-skill-official-news
	pkgdesc = News Streams from around the globe
pkgver = 0.3.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-news/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-beautifulsoup4
	depends = python-ovos-ocp-audio-plugin>=0.0.3
	depends = python-ovos-workshop>=0.0.10
	depends = python-pytz
	provides = ovos-skill-official-news
	conflicts = ovos-skill-official-news
	source = https://github.com/OpenVoiceOS/skill-ovos-news/archive/90718d2b337df81c5312bb0c657db7888d45edf7.tar.gz
	sha256sums = 2a6fa2340f9bb0e6e4325b3a1f1e723f6cf1108f57696d2d20925475683587c2

pkgname = ovos-skill-official-news
