pkgbase = python-ovos-dinkum-listener
	pkgdesc = The "ears" of the OVOS assistant! Listens for wakewords, performs VAD and STT, the final transcribed speech is then sent to ovos-core. Dinkum flavor
pkgver = 0.3.8
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-dinkum-listener/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ovos-core
	depends = ovos-service-base
	depends = ovos-messagebus-server
	depends = python
	depends = python-sdnotify
	depends = ovos-microphone-plugin
	depends = python-ovos-backend-client>=0.0.6
	depends = python-ovos-bus-client>=0.0.3a16
	depends = python-ovos-config>=0.0.10
	depends = python-ovos-plugin-manager>=0.0.23a5
	depends = python-ovos-stt-plugin-server>=0.0.2
	depends = python-ovos-utils>=0.0.33a8
	depends = python-ovos-vad-plugin-webrtcvad
	depends = python-speechrecognition>=3.9
	provides = ovos-listener-messagebus
	conflicts = ovos-listener-messagebus
	conflicts = python-ovos-listener
	replaces = python-ovos-listener
	source = https://github.com/OpenVoiceOS/ovos-dinkum-listener/archive/b4c473f8ab6ea80195647307c31fd3c81b8fd82c.tar.gz
	source = ovos-listener-messagebus.service
	source = ovos-systemd_dinkum_listener_messagebus.py
	sha256sums = 4a594a199de3fdefa748308b477fa7d00e417334d007df6c000bb5cfda24d291
	sha256sums = 6d852114cd72b873a90690191c9db678ae7d06180fd61bd0a63315155bab093d
	sha256sums = f6b682fbc4020f6573a9a9407b32ba59d369feba579dec8dd34816ceb01376cb

pkgname = python-ovos-dinkum-listener
