pkgbase = python-ovos-audio-plugin-simple
	pkgdesc = simple audio plugin for ovos.
pkgver = 0.1.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-audio-plugin-simple/
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager
	source = https://github.com/OpenVoiceOS/ovos-audio-plugin-simple/archive/e53e165de9c334e0541ce5b205dcdd86efc5dc0a.tar.gz
	sha256sums = 2534cca0f7def77af03f93c1839a60354e9f95a5869e99e052038b2bc2fd42ec

pkgname = python-ovos-audio-plugin-simple
