pkgbase = python-ovos-phal-plugin-connectivity-events
	pkgdesc = OVOS-PHAL Connectivity Events
pkgver = 0.1.1
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-connectivity-events/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-connectivity-events/archive/286bf5d2a8bb326edcca4353353a92f540c5b93b.tar.gz
	sha256sums = af309d08a76d751ad2f89906210bf3c27153a1fc0ae84b65bb741a1c728edfdb

pkgname = python-ovos-phal-plugin-connectivity-events
