pkgbase = python-ovos-phal-plugin-oauth
	pkgdesc = PHAL OAuth Plugin
pkgver = 0.1.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-oauth/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-flask>=0.12
	depends = python-oauthlib
	depends = python-ovos-backend-client
	depends = python-ovos-utils>=0.0.26
	depends = python-pillow
	depends = python-qrcode
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-oauth/archive/5cdc431cf1d4001a0c02176708d014fa627cbc04.tar.gz
	sha256sums = 0b96e6da5ef2caa016ea27c2f36f7fa5d10777ccbee6c2b3b66e6ea29ab3e445

pkgname = python-ovos-phal-plugin-oauth
