pkgbase = python-ovos-ocp-m3u-plugin
	pkgdesc = 
pkgver = 0.0.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-m3u-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin
	source = https://github.com/OpenVoiceOS/ovos-ocp-m3u-plugin/archive/d2571ac1c2870501f0940dc3dcdb35b402300e9e.tar.gz
	sha256sums = dc0cb960482ee0c891060c9b2f30bc85ad7090f6bd196befdf6bf45088b54710

pkgname = python-ovos-ocp-m3u-plugin
