pkgbase = ovos-service-base
	pkgdesc = Environment and service account settings for other OVOS services, such as Shell and Core
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/
	arch = any
	license = Apache License 2.0
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = 17024101fb544f08ed7aab921dbf95d85d76afeebd9dfadd3517df786fe78f64
	sha256sums = 9c1ddb5653978b4c2e462f36b54446931d4e9596b46deebfe612be0ec295ff9a

pkgname = ovos-service-base
