pkgbase = ovos-service-base
	pkgdesc = Environment and service account settings for other OVOS services, such as Shell and Core
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/
	arch = any
	license = Apache License 2.0
	source = sysusers.conf
	source = tmpfiles.conf
	sha256sums = af01654a48139b01fdea4b7ead8308c1cd255411464e563230e38ac26ea7b0c9
	sha256sums = 4098674b021ee78a5294b92b89e9a3e8f34fcfa6673ba0343a7dd67d00610454

pkgname = ovos-service-base
