pkgbase = python-ovos-stt-plugin-server
	pkgdesc = OpenVoiceOS companion plugin for OpenVoiceOS STT Server
pkgver = 0.0.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-server/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager>=0.0.5
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-server/archive/8f440da949ced2f823383b87acb7c7e502cdb7ff.tar.gz
	sha256sums = ecb0c468c1e16f58055de799ba0838ca9744c7748a1f66f5e5ed33b20f42ef4c

pkgname = python-ovos-stt-plugin-server
