pkgbase = python-ovos-stt-plugin-server
	pkgdesc = OpenVoiceOS companion plugin for OpenVoiceOS STT Server
pkgver = 0.1.1
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-stt-plugin-server/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-plugin-manager>=0.0.5
	source = https://github.com/OpenVoiceOS/ovos-stt-plugin-server/archive/8f440da949ced2f823383b87acb7c7e502cdb7ff.tar.gz
	sha256sums = b67e2621d71a0540cff76b95cd1b247bb89ba86752860a22f223ec1387185548

pkgname = python-ovos-stt-plugin-server
