pkgbase = python-ovos-messagebus
	pkgdesc = messagebus service, the nervous system of OpenVoiceOS
pkgver = 0.0.7
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-messagebus/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ovos-service-base
	depends = python
	depends = python-sdnotify
	depends = python-ovos-bus-client>=0.0.7
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.0.37
	depends = python-tornado>=6.0.3
	provides = ovos-messagebus-server
	conflicts = ovos-bus-server
	source = https://github.com/OpenVoiceOS/ovos-messagebus/archive/a23beba05639a15d27f9f9527f9606944b9a7d53.tar.gz
	source = ovos-messagebus.service
	source = ovos-systemd_messagebus.py
	source = python-ovos-messagebus.install
	sha256sums = dc3abf8481b326f792321355b9790c67cf5e19f16fda7e95f3c35ede8976cd21
	sha256sums = 423ede875cf62963fbd8ed4103624c6347b00ce185027ebde54e31a6d1fa59bf
	sha256sums = f1732d6858fd0c74e91304e92db30b0ee4a9c4a3e32d98d97bf3564a8197c685
	sha256sums = d2208a11d02faee1acf63a0f5b871a41b7005eb26f86a56552c6425b918409fa

pkgname = python-ovos-messagebus
