pkgbase = python-ovos-messagebus
	pkgdesc = messagebus service, the nervous system of OpenVoiceOS
	pkgver = 0.0.3a1
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos-messagebus/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = ovos-core
	depends = ovos-service-base
	depends = python
	depends = python-sdnotify
	depends = python-ovos-config>=0.0.8a2
	depends = python-ovos-utils>=0.0.31a3
	depends = python-tornado>=6.0.3
	provides = ovos-messagebus-server
	conflicts = ovos-bus-server
	source = https://github.com/OpenVoiceOS/ovos-messagebus/archive/034ef0b14aeab33152fc97b3fea0e445051a828a.tar.gz
	source = ovos-messagebus.service
	source = ovos-systemd_messagebus.py
	source = python-ovos-messagebus.install
	sha256sums = 49256ffac0fa8606f36b9ef099be89c408878b8b291e190fa008e7c1e387ef58
	sha256sums = 8d6ee0d4b5cbd91fa80218f0d6fe4d066024ca89581ca9b213236882073fc26b
	sha256sums = f1732d6858fd0c74e91304e92db30b0ee4a9c4a3e32d98d97bf3564a8197c685
	sha256sums = d2208a11d02faee1acf63a0f5b871a41b7005eb26f86a56552c6425b918409fa

pkgname = python-ovos-messagebus
