pkgbase = ovos-shell
	pkgdesc = OpenVoiceOS Shell on EGLFS: This is a minimal shell which is intended to run on low power hardware either as "single application" on a minimal wayland server or with eglfs backend.
	pkgver = 0f3335b0aa3a806b130a6a79299d79c75bc12c0e
	pkgrel = 0
	url = https://github.com/OpenVoiceOS/ovos-shell/
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache License 2.0
	makedepends = pkgconf
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = mycroft-gui
	depends = kio
	depends = kio-extras
	depends = plasma-framework
	depends = qt5-websockets
	depends = qt5-webview
	depends = qt5-declarative
	depends = qt5-multimedia
	depends = qt5-quickcontrols2
	depends = qt5-webengine
	depends = qt5-base
	depends = qt5-virtualkeyboard
	depends = qt5-lottie
	depends = breeze-icons
	depends = gst-plugin-va
	depends = libva
	depends = libva-utils
	depends = python-ovos-phal-plugin-alsa
	depends = python-ovos-phal-plugin-system
	depends = python-ovos-phal-plugin-configuration-provider
	optdepends = python-ovos-phal-plugin-notification-widgets
	optdepends = python-ovos-phal-plugin-network-manager
	optdepends = python-ovos-phal-plugin-gui-network-client
	optdepends = python-ovos-phal-plugin-wifi-setup
	optdepends = python-ovos-phal-plugin-dashboard
	optdepends = python-ovos-phal-plugin-brightness-control-rpi
	optdepends = python-ovos-phal-plugin-color-scheme-manager
	source = https://github.com/OpenVoiceOS/ovos-shell/archive/0f3335b0aa3a806b130a6a79299d79c75bc12c0e.tar.gz
	sha256sums = 743862ed78d9e5d4a71740706f25e379468dedc5a94598dbc54b6c4273c94485

pkgname = ovos-shell
