pkgbase = python-ovos-bus-client
	pkgdesc = This module is a simple interface for the mycroft messagebus and can be used to connect to ovos, send messages and react to messages sent by the OpenVoiceOS system. This module extends the mycroft-messagebus-client with a Session implementation
pkgver = 1.2.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-bus-client/
	arch = any
	license = Apache License 2.0
	depends = python
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.0.37
	depends = python-pyee>=8.1.0
	depends = python-websocket-client>=0.54.0
	source = https://github.com/OpenVoiceOS/ovos-bus-client/archive/1db597576d140f0ac2d3698da11c8dec8ec6390d.tar.gz
	source = 0001-Loosen-requirements.patch
	sha256sums = fb382a2c06892f572b404a1b020461647086ff6e0551c4e6ab34039cefd5ba66
	sha256sums = d96be312783bbcb91a90337a409491055a08123ef6749befdebc7c93487550b3

pkgname = python-ovos-bus-client
