pkgbase = ovos-skill-official-wolfie
	pkgdesc = Use Wolfram Alpha for general knowledge questions
	pkgver = 1e4af2fa0735f88d19fca917c7130a0995d17fc7
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-wolfie/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	provides = ovos-skill-official-wolfie
	conflicts = ovos-skill-official-wolfie
	source = https://github.com/OpenVoiceOS/skill-ovos-wolfie/archive/.tar.gz
	sha256sums = a14e3f986815cd8bc0f03dfb49d76708a58b4db26cfb2a7bacd06c6c86d032d5

pkgname = ovos-skill-official-wolfie
