pkgbase = python-ovos-phal
	pkgdesc = OVOS-PHAL
	pkgver = 0.0.5a6
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/ovos_PHAL/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = ovos-service-base
	depends = ovos-messagebus-server
	depends = python
	depends = python-sdnotify
	depends = python-ovos-workshop>=0.0.12a3
	depends = python-ovos-bus-client>=0.0.3a16
	depends = python-ovos-config>=0.0.8a3
	depends = python-ovos-phal-plugin-connectivity-events>=0.0.1
	depends = python-ovos-phal-plugin-ipgeo>=0.0.1
	depends = python-ovos-phal-plugin-network-manager>=1.0.0
	depends = python-ovos-phal-plugin-oauth>=0.0.1
	depends = python-ovos-phal-plugin-system>=0.0.1
	depends = python-ovos-plugin-manager>=0.0.23a5
	depends = python-ovos-utils>=0.0.31a6
	provides = ovos-phal-messagebus
	provides = ovos-admin-phal-messagebus
	conflicts = ovos-phal-messagebus
	conflicts = ovos-admin-phal-messagebus
	source = https://github.com/OpenVoiceOS/ovos_PHAL/archive/b03fa1e3ba1202a34a755bb8979e0380419a02b3.tar.gz
	source = ovos-phal-messagebus.service
	source = ovos-admin-phal-messagebus.service
	source = ovos-systemd_phal_messagebus.py
	source = ovos-systemd_admin_phal_messagebus.py
	sha256sums = 09b273cde6729342da7f2a03dd2430691de73a7c62600bf9faf95da95c88b2a1
	sha256sums = f8a80237e75d95edb22e99013bfa81f06f36a6fc8929437d813c9298d8e1a93e
	sha256sums = 5352b30d840d995a47098b71066194bf7fcf81b2d6c49f6c13383f602208ecb1
	sha256sums = 2c920defb96d86406d30890da1262520d575b54ad9c830e3b5ad00c88456c4bf
	sha256sums = 846378e2d1153dbcd40b77195d1114d4f79819b83785e24f9f17662395ea0958

pkgname = python-ovos-phal
