pkgbase = python-ovos-phal
	pkgdesc = OVOS-PHAL
pkgver = 0.2.6
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos_PHAL/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ovos-core
	depends = ovos-service-base
	depends = ovos-messagebus-server
	depends = python
	depends = python-sdnotify
	depends = python-ovos-workshop>=0.0.12a3
	depends = python-ovos-bus-client>=0.0.3a16
	depends = python-ovos-config>=0.0.8a3
	depends = python-ovos-phal-plugin-connectivity-events>=0.0.1
	depends = python-ovos-phal-plugin-ipgeo>=0.0.1
	depends = python-ovos-phal-plugin-network-manager>=1.0.0
	depends = python-ovos-phal-plugin-oauth>=0.0.1
	depends = python-ovos-phal-plugin-system>=0.0.1
	depends = python-ovos-plugin-manager>=0.0.23a5
	depends = python-ovos-utils>=0.0.31a6
	provides = ovos-phal-messagebus
	provides = ovos-admin-phal-messagebus
	conflicts = ovos-phal-messagebus
	conflicts = ovos-admin-phal-messagebus
	source = https://github.com/OpenVoiceOS/ovos_PHAL/archive/b03fa1e3ba1202a34a755bb8979e0380419a02b3.tar.gz
	source = ovos-phal-messagebus.service
	source = ovos-admin-phal-messagebus.service
	source = ovos-systemd_phal_messagebus.py
	source = ovos-systemd_admin_phal_messagebus.py
	sha256sums = 9272e89a52534806b62863d26578ecbc3279d38a28d7d8038de67f8059afe2f5
	sha256sums = 134283f2448d53d9d7b8d977044525b56ff5571e655aaaa3aea3e3e2d2c1ec2f
	sha256sums = 4337ab11d89f70bdb2d428e03505d19d42e35652c8c21dfb55d7bb2d3764bbb6
	sha256sums = 2c920defb96d86406d30890da1262520d575b54ad9c830e3b5ad00c88456c4bf
	sha256sums = 846378e2d1153dbcd40b77195d1114d4f79819b83785e24f9f17662395ea0958

pkgname = python-ovos-phal
