pkgbase = python-ovos-core
	pkgdesc = OVOS-core is a backwards-compatible descendant of Mycroft-core, the central component of Mycroft
pkgver = 0.5.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-core/
	install = ovos-skills.install
	arch = any
	license = Apache
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ovos-service-base
	depends = ovos-messagebus-server
	depends = python
	depends = python-sdnotify
	depends = python-adapt-parser>=1.0.0
	depends = python-combo-lock>=0.2.2
	depends = python-ovos-backend-client>=0.1.0
	depends = python-ovos-bus-client>=0.0.4a3
	depends = python-ovos-workshop>=0.0.12a17
	depends = python-ovos-classifiers>=0.0.0a3
	depends = python-ovos-config>=0.0.8
	depends = python-ovos-lingua-franca>=0.4.7
	depends = python-ovos-plugin-manager>=0.0.23a9
	depends = python-ovos-utils>=0.0.33a5
	depends = python-padacioso
	depends = python-dateutil>=2.6
	depends = python-requests>=2.26
	depends = python-watchdog>=2.1
	provides = ovos-skills-messagebus
	conflicts = python-adapt-parser>=2.0.0
	conflicts = python-combo-lock>=0.3
	conflicts = python-ovos-bus-client>=0.1.0
	conflicts = python-ovos-workshop>=0.1.0
	conflicts = python-ovos-classifiers>=0.1.0
	conflicts = python-ovos-plugin-manager>=0.1.0
	conflicts = python-ovos-utils>=0.1.0
	conflicts = python-dateutil>=3.0
	conflicts = python-requests>=3.0
	conflicts = python-watchdog>=3.0
	conflicts = ovos-skills-messagebus
	source = https://github.com/OpenVoiceOS/ovos-core/archive/9fa0b494ad45bddbd214ffb73349ce7da2dfac71.tar.gz
	source = ovos-skills-messagebus.service
	source = ovos-systemd_skills_messagebus.py
	source = ovos-skills.install
	sha256sums = 550ab6fdb39c01d04815cefa84dc5aaa8271454b68beeb2f434dfc772c472d28
	sha256sums = 8a9491bfc586cb801d0b904205f8e4f98a23333d48a717dccc0e62c5949398ad
	sha256sums = bd403865bdadd82502beb861589da1e050d6885702b6b1a5f6911cdf2de4742a
	sha256sums = ae8e3b0dd89e2c7bfff121bb6c6ac75632deafc3cacd776ee9e06cd6ba849270

pkgname = python-ovos-core
