pkgbase = python-ovos-gui
	pkgdesc = GUI messagebus service, manages GUI state and implements the gui protocol
pkgver = 1.0.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-gui/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ovos-core
	depends = ovos-service-base
	depends = ovos-messagebus-server
	depends = python
	depends = python-sdnotify
	depends = python-ovos-bus-client>=0.0.5
	depends = python-ovos-config>=0.0.10
	depends = python-ovos-plugin-manager>=0.0.23
	depends = python-ovos-utils>=0.0.34
	depends = python-tornado>=6.0.3
	provides = ovos-gui-messagebus
	conflicts = ovos-gui-messagebus
	source = https://github.com/OpenVoiceOS/ovos-gui/archive/3340c6e1de2a9f1a6fcfff4d7a3cc742da3e911b.tar.gz
	source = ovos-gui-messagebus.service
	source = ovos-systemd_gui_messagebus.py
	sha256sums = 6a5d0dfb2454571795a1c810b207b3ac87a5ac4f23e63315e6aec69151548e48
	sha256sums = b8418c1ba00a7ee9fb28a0a188a0ea7e39cbc5dfbfd21e3715797dfef23e78a9
	sha256sums = 91183c0c107817a3e95a17dc3a68dbc2b84341373c645d762b1e2bc2f10dbbc9

pkgname = python-ovos-gui
