pkgbase = python-ovos-tts-server
	pkgdesc = Turn any OVOS TTS plugin into a micro service
pkgver = 0.1.2
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-server/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-fastapi
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-uvicorn
	optdepends = python-gradio: for Gradio-compatible GUI
	source = https://github.com/OpenVoiceOS/ovos-tts-server/archive/86369a266bac906bc4c82de267e0ec6c089c1772.tar.gz
	sha256sums = a2650a2fa6c7aebbab6b08c7b427a547c706a57998683e39c4127d707d8b3da2

pkgname = python-ovos-tts-server
