pkgbase = ovos-skill-official-weather
	pkgdesc = OpenVoiceOS version of Weather Skill, providing weather conditions and forecasts.
	pkgver = 0.0.1a10
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-weather/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-workshop>=0.0.12a27
	depends = python-ovos-utils>=0.0.28a4
	depends = python-pytz
	depends = python-requests
	provides = ovos-skill-official-weather
	conflicts = ovos-skill-official-weather
	source = https://github.com/OpenVoiceOS/skill-ovos-weather/archive/9731dd4163eec6f40abdb7f9eacbd61b6b865d3c.tar.gz
	sha256sums = dadcf9f5d3eef14b198d6be959149e7d4e51376f6f648eeee8d08a0535b131b6

pkgname = ovos-skill-official-weather
