pkgbase = ovos-skill-official-weather
	pkgdesc = OpenVoiceOS version of Weather Skill, providing weather conditions and forecasts.
pkgver = 1.0.4
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-weather/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-workshop>=0.0.12a27
	depends = python-ovos-utils>=0.0.28a4
	depends = python-pytz
	depends = python-requests
	provides = ovos-skill-official-weather
	conflicts = ovos-skill-official-weather
	source = https://github.com/OpenVoiceOS/skill-ovos-weather/archive/9731dd4163eec6f40abdb7f9eacbd61b6b865d3c.tar.gz
	sha256sums = 11b3c615e841a8ca3d8bd000140191b6bb84e7206fe506db8e2caf5e7dbaa650

pkgname = ovos-skill-official-weather
