pkgbase = python-timezonefinder
	pkgdesc = fast python package for finding the timezone of any point on earth (coordinates) offline
	pkgver = 5.2.0
	pkgrel = 00
	url = https://timezonefinder.michelfe.it/gui
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = python
	depends = python-cffi
	depends = python-h3
	depends = python-numpy
	depends = python-setuptools
	source = PKGBUILD_EXTRAS
	source = https://github.com/jannikmi/timezonefinder/archive/refs/tags/v5.2.0.tar.gz
	source = LICENSE
	sha256sums = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
	sha256sums = e1cda4b736f17f564b5db9a7211ddf3610ea50fe6ef421978ff7680cba306819
	sha256sums = 967dff3a50168062de400a0521b4f005b481b25256de7d21f3d0001648d735e5

pkgname = python-timezonefinder
