pkgbase = python-timezonefinder
	pkgdesc = fast python package for finding the timezone of any point on earth (coordinates) offline
	pkgver = 6.2.0
	pkgrel = 00
	url = https://timezonefinder.michelfe.it/gui
	arch = x86_64
	license = MIT
	depends = python
	depends = python-cffi
	depends = python-h3
	depends = python-numpy
	depends = python-setuptools
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/e7/68/86c8d0b21573150eb7b3c66da2c451159b0159c15d3d59b17777ea557f48/timezonefinder-6.2.0.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = dd7111b6dbf0e314c778ccd93844007e
	md5sums = 1f5d834673ddf78e221f24c8e56919a0

pkgname = python-timezonefinder
