pkgbase = python-combo-lock
	pkgdesc = A combined process and thread lock
	pkgver = 0.2.5
	pkgrel = 00
	url = https://github.com/forslund/combo-lock
	arch = any
	license = Apache
	depends = python
	depends = python-filelock
	depends = python-memory-tempfile
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/1a/7d/22bc221fd33a0f72c84ff8c6f6b5f06533825c058fe29a57d12467344cb3/combo_lock-0.2.5.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = fb378b7b4b9a3b6589b59cd2e7fa5c70
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-combo-lock
