pkgbase = ovos-skill-official-naptime
	pkgdesc = Tell me to sleep when you don't want to be disturbed in any way. This stops all calls to Speech to Text system, guaranteeing your voice won't be sent anywhere on an accidental activation.
	pkgver = 92ab0cbef48273148c706a1b6f52d1574adb476f
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-naptime/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	provides = ovos-skill-official-naptime
	conflicts = ovos-skill-official-naptime
	source = https://github.com/OpenVoiceOS/skill-ovos-naptime/archive/.tar.gz
	sha256sums = d4293b1fea766e2d31cdcc7a3c03275f0ab05c9090c7d6979370095f7f8dae71

pkgname = ovos-skill-official-naptime
