pkgbase = ovos-skill-official-naptime
	pkgdesc = Tell me to sleep when you don't want to be disturbed in any way. This stops all calls to Speech to Text system, guaranteeing your voice won't be sent anywhere on an accidental activation.
pkgver = 0.3.3
pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-naptime/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-workshop>=0.0.12a27
	depends = python-ovos-bus-client
	depends = python-ovos-utils>=0.0.28
	provides = ovos-skill-official-naptime
	conflicts = ovos-skill-official-naptime
	source = https://github.com/OpenVoiceOS/skill-ovos-naptime/archive/92ab0cbef48273148c706a1b6f52d1574adb476f.tar.gz
	sha256sums = e8fa053db27a4632c6e181b34f14e2c748615c1f68c247a3e562c3bf48c2af23

pkgname = ovos-skill-official-naptime
