pkgbase = python-ovos-plugin-manager
	pkgdesc = OPM can be used to search, install, load and create plugins for the OpenVoiceOS ecosystem!
pkgver = 0.8.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-plugin-manager/
	arch = any
	license = UNKNOWN
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-combo-lock>=0.2
	depends = python-importlib-metadata
	depends = python-langcodes>=3.3.0
	depends = python-ovos-bus-client>=0.0.8
	depends = python-ovos-config>=0.0.12
	depends = python-ovos-utils>=0.0.37
	depends = python-quebra-frases
	depends = python-requests>=2.26
	conflicts = python-ovos-bus-client>=0.2.0
	conflicts = python-ovos-config>=0.2.0
	conflicts = python-ovos-utils>=0.2.0
	source = https://github.com/OpenVoiceOS/ovos-plugin-manager/archive/e1aa516bc2adde40fa5a75fb72cb993865ae2e5c.tar.gz
	sha256sums = 801cf9ee03f81d6ac2451635defe33726cc939eda3cc83ed2457b2785ac9ee74

pkgname = python-ovos-plugin-manager
