pkgbase = python-ovos-plugin-manager
	pkgdesc = OPM can be used to search, install, load and create plugins for the OpenVoiceOS ecosystem!
	pkgver = 0.0.23
	pkgrel = 2
	url = https://github.com/OpenVoiceOS/ovos-plugin-manager/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-combo-lock
	depends = python-importlib-metadata
	depends = python-langcodes
	depends = python-ovos-bus-client>=0.0.3a16
	depends = python-ovos-config>=0.0.8a3
	depends = python-ovos-utils>=0.0.31a6
	depends = python-quebra-frases
	depends = python-requests
	source = https://github.com/OpenVoiceOS/ovos-plugin-manager/archive/ae1df77e9f246f19b71f35b9f6f6cfbf23b5ae48.tar.gz
	sha256sums = 6ccdbf5e8feab89352d987bfa8673b5d2320fff71b059684c678a9251e04bff8

pkgname = python-ovos-plugin-manager
