pkgbase = ovos-skill-official-ddg
	pkgdesc = Use DuckDuckGo to answer questions
	pkgver = 76dd835225ba69c4f6f91edc95c47d142829ba92
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-ddg/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	provides = ovos-skill-official-ddg
	conflicts = ovos-skill-official-ddg
	source = https://github.com/OpenVoiceOS/skill-ovos-ddg/archive/.tar.gz
	sha256sums = 63d37ec5bfc1ee38eb12f77861b00e080573bdc68ffcfc72d6d40ff79facb499

pkgname = ovos-skill-official-ddg
