pkgbase = python-ovos-phal-plugin-homeassistant
	pkgdesc = HomeAssistant PHAL Plugin for OpenVoiceOS
pkgver = 0.1.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-homeassistant/
	arch = any
	license = Apache License 2.0
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-nested-lookup>=0.2
	depends = python-ovos-bus-client>=0.0.3
	depends = python-ovos-config>=0.0.5
	depends = python-ovos-phal-plugin-oauth>=0.0.1
	depends = python-ovos-plugin-manager>=0.0.23
	depends = python-ovos-utils>=0.0.27
	depends = python-pytube>=12.1
	depends = python-webcolors>=1.13
	depends = python-websockets>=10.4
	depends = python-youtube-search>=2.1
	source = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-homeassistant/archive/02f034168f35da8a4bac678b757072b52f60110c.tar.gz
	sha256sums = 19524e351442467c0ef5cc2b8b2b81a5c8d21a7285492ee7fa6f5f024dcb8852

pkgname = python-ovos-phal-plugin-homeassistant
