pkgbase = python-ovos-ocp-news-plugin
	pkgdesc = 
pkgver = 0.0.5
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-beautifulsoup4
	depends = python-ovos-ocp-audio-plugin
	depends = python-ovos-ocp-m3u-plugin>=0.0.1
	depends = python-ovos-ocp-rss-plugin>=0.0.2
	depends = python-pytz
	source = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin/archive/2927b18638429249f80f320c56493d43899009f1.tar.gz
	sha256sums = 29bef527acea78e1834c38acce2e40ac64dd95b1c13ccce45583bbebf164c1a9

pkgname = python-ovos-ocp-news-plugin
