pkgbase = python-ovos-ocp-news-plugin
	pkgdesc = 
pkgver = 0.1.1
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-beautifulsoup4
	depends = python-ovos-ocp-audio-plugin
	depends = python-ovos-ocp-m3u-plugin>=0.0.1
	depends = python-ovos-ocp-rss-plugin>=0.0.2
	depends = python-pytz
	source = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin/archive/2927b18638429249f80f320c56493d43899009f1.tar.gz
	sha256sums = 8efde7c56a7d47e363649a927c75b28f1a4579d7c0b33f84bfe14243e3571940

pkgname = python-ovos-ocp-news-plugin
