pkgbase = python-ovos-ocp-news-plugin
	pkgdesc = 
pkgver = 0.1.0
pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-beautifulsoup4
	depends = python-ovos-ocp-audio-plugin
	depends = python-ovos-ocp-m3u-plugin>=0.0.1
	depends = python-ovos-ocp-rss-plugin>=0.0.2
	depends = python-pytz
	source = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin/archive/2927b18638429249f80f320c56493d43899009f1.tar.gz
	sha256sums = 0e3a6b015a4941a04eded06b06b0720e08c7ea8fd43cb1bc8e5ed71d607ea591

pkgname = python-ovos-ocp-news-plugin
