pkgbase = python-mycroft-mimic3-tts
	pkgdesc = Mycroft mimic3 TTS
	pkgver = 0.2.4
	pkgrel = 02
	url = https://github.com/MycroftAI/mimic3
	arch = x86_64
	arch = aaarch64
	arch = armv7h
	license = AGPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-espeak-phonemizer
	depends = python-dataclasses-json
	depends = python-epitran
	depends = python-gruut
	depends = python-numpy
	depends = python-onnxruntime
	depends = python-phonemes2ids
	depends = python-requests
	depends = python-tqdm
	depends = python-xdgenvpy
	provides = mycroft-mimic3-tts
	conflicts = mimic3
	conflicts = mycroft-mimic3-tts
	source = https://github.com/MycroftAI/mimic3/releases/download/release/v0.2.4/mycroft_mimic3_tts-0.2.4.tar.gz
	sha256sums = 60cd282274c94967e11845b9127ff2eb7ba936341de0e231107297c0c70d2a27

pkgname = python-mycroft-mimic3-tts
