pkgbase = ovos-skill-official-local-music
	pkgdesc = Neon Skill for Local Music Playback
	pkgver = c03107987c3f2aba23e8933ff0fc93a7217655b9
	pkgrel = 1
	url = https://github.com/NeonGeckoCom/skill-local_music/
	arch = any
	license = 
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	provides = ovos-skill-official-local-music
	conflicts = ovos-skill-official-local-music
	source = https://github.com/NeonGeckoCom/skill-local_music/archive/.tar.gz
	source = 0001-Make-home-mycroft-Music-the-default-folder.patch
	sha256sums = 71644c7aded29cce69938b3227a355f6bdd93521736d540da041b9e2063711ae
	sha256sums = 174D291556FCB5BBD89AAC7588E26AC695101BF2404C5570495D826AA35683B0

pkgname = ovos-skill-official-local-music
