pkgbase = ovos-skill-neon-local-music
	pkgdesc = Neon Skill for Local Music Playback
pkgver = 3.2.0
pkgrel = 00
	url = https://github.com/NeonGeckoCom/skill-local_music/
	arch = any
	license = BSD3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin>=0.0
	depends = python-ovos-ocp-files-plugin>=0.13
	depends = python-ovos-skill-installer>=0.0.5
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.7
	optdepends = python-neon-minerva>=0.2
	provides = ovos-skill-neon-local-music
	conflicts = ovos-skill-neon-local-music
	source = https://github.com/NeonGeckoCom/skill-local_music/archive/997b1bae845f4fef267ce764c3882091a108a742.tar.gz
	sha256sums = ccddd0cadf946b23eb9e3b571948dff7d9722945d80a9fca35b565069194344c

pkgname = ovos-skill-neon-local-music
