pkgbase = ovos-skill-neon-local-music
	pkgdesc = Neon Skill for Local Music Playback
	pkgver = 2.0.0
	pkgrel = 00
	url = https://github.com/NeonGeckoCom/skill-local_music/
	arch = any
	license = BSD3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-ovos-ocp-audio-plugin>=0.0
	depends = python-ovos-ocp-files-plugin>=0.13
	depends = python-ovos-skill-installer>=0.0.5
	depends = python-ovos-utils>=0.0.28
	depends = python-ovos-workshop>=0.0.7
	provides = ovos-skill-neon-local-music
	conflicts = ovos-skill-neon-local-music
	source = https://github.com/NeonGeckoCom/skill-local_music/archive/159c220008e5e48d620293b17cd12edcd096963c.tar.gz
	sha256sums = 2364c34d6368d4d117145c3b2fc0a07a183b710134531c70b084712490cd00c1

pkgname = ovos-skill-neon-local-music
